@charset "utf-8";
/* CSS Document */

body {
    font-family: "Raleway", sans-serif;
    color: #7e7e7e;
    font-size: 13px;
    background: #fff;
}

html, body {
    width: 100%;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.alignnone {
    float: none;
}

.clear {
    clear: both;
}

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix {
    display: block;
}

.margin {
    margin: 0 auto;
}
/*=== General ===*/
.wrapper {
    width: 100%;
    /*background: url(top-bg.jpg) repeat-x left top #fff;*/
}

.innerWrapper {
    width: 100%;
    background: repeat-x left top #fff;
}

#container {
    width: 95%;
    position: relative;
    margin: 0 auto;
}

a {
    color: #7e7e7e;
    text-decoration: none;
}

    a:hover {
        color: #7e7e7e;
        text-decoration: none;
    }

/*=== header ===*/
#header {
    position: relative;
    width: 80%;
    display: block;
    margin-left:8%;
}

#logo {
    margin: 0% 0% 0% 0%;
    text-align:center;
    width:100%;
}
/*header nav{ height:38px; padding:6px 0 0 14px; width:810px; display:block; float:left}
header nav ul{ float:left;}
header nav li{ float:left; padding-right:40px;}
header nav li a{ color:#FFF; display:block; padding:0 25px; position:relative; z-index:0; display:inline-block !important; height:37px;}
header nav li.first{ padding-right:46px !important;}
header nav li.third{ padding-right:55px !important;}
header nav li.fourth{ padding-right:34px !important;}
header nav li.first a{ padding-left:15px !important;}
header nav li.last{ padding-right:0px;}
header nav li.last a{ padding-right:10px !important;} 
*/


/*=== content ===*/
#contentWrap {
    margin: 0;
    padding: 19px 0 0 0;
}

.content {
    background: url(content-bg.png) no-repeat left -20px;
    width: 100%;
    height: 100%;
}

    .content h1 {
        color: #3e3e3e;
        font-size: 30px;
        font-weight: bold;
        font-family: 'MyriadProSemibold', Arial, Helvetica, sans-serif;
        padding: 58px 0 58px 0;
        margin: 0 auto;
        text-align: center;
        line-height: 30px;
    }

.mainGreybg {
    
    width: 90%;
    height: 620px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    behavior: url(/pie1.htc);
    margin: 0 auto;
    padding: 9px;
}

.loginBg {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #cecece;
    background: #fff;
    behavior: url(/pie1.htc);
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.imgContent {
    width: 100%;
}

.loginContent {
    /*margin: 20px 54px 0px 0px;*/
	width:100%;
}

    .loginContent .login {
        width: 65%; /*background:url(../verticle-shadow.png) no-repeat left top; width:15px; height:254px;*/
        margin: 3% 0 0 19%;
    }

        .loginContent .login h2 {
            color: #3e3e3e;
            font-size: 24px;
            font-weight: bold;
            font-family: 'MyriadProSemibold', Arial, Helvetica, sans-serif;
            padding: 0 0 3% 0;
            line-height: 24px;
            margin: 0;
        }

        .loginContent .login .loginForm ul {
            margin: 0;
            padding-bottom: 15px;
            float: left;
        }

            .loginContent .login .loginForm ul li span .icon {
                padding: 9px 13px 0 0;
            }

            .loginContent .login .loginForm ul li input {
                border: none;
            }

            .loginContent .login .loginForm ul li .inputtext {
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                border: 1px solid #cecece;
                background: #fff;
                behavior: url(/pie1.htc);
                margin: 0 auto;
                width: 214px;
                height: 34px;
                padding: 0 0 0 10px;
                color: #7e7e7e;
                line-height: 20px;
                line-height /*\**/: 34px\9;
                vertical-align: middle;
            }

                .loginContent .login .loginForm ul li .inputtext:focus {
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    border: 1px solid #dadada;
                    background: #fff;
                    behavior: url(/pie1.htc);
                    -webkit-box-shadow: 0 1px 10px #dadada;
                    -moz-box-shadow: 0 1px 10px #dadada;
                    box-shadow: 0 1px 10px #dadada;
                }

            .loginContent .login .loginForm ul li .remember {
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                border: 1px solid #dfdfdf;
                background: #f4f4f4 !important;
                behavior: url(/pie1.htc);
                margin: 0 auto;
                width: 224px; /*height:27px;*/
                color: #7e7e7e; /*padding-bottom:7px;*/
                *margin-left: 0px;
            }

            .loginContent .login .loginForm ul li .checkbox {
                margin: 8px 9px 0 12px;
            }

            .loginContent .login .loginForm ul .mLeft30 {
                margin-left: 30px;
                *margin-left: 30px;
            }

            .loginContent .login .loginForm ul .mLeft160 {
                margin-left: 160px;
                *margin-left: 160px;
            }

            .loginContent .login .loginForm ul .mLeft130 {
                margin-left: 67px;
                *margin-left: 67px;
                margin-top: 5px;
                *margin-top: 5px;
            }
            /*.loginContent .login .loginForm ul li .btnLogin { background:url(../orange-btn.png) no-repeat left top; padding:0 0 0 5px; display:block; height:37px; cursor:pointer;}
.loginContent .login .loginForm ul li .btnLogin input { background:url(../orange-btn.png) repeat-x right -37px; padding:3px 30px 0 12px; display:block; height:37px; float:left; width:85px; cursor:pointer; color:#fff;}*/

            .loginContent .login .loginForm ul li input.searchBtn {
                background: url(search-btn.png) no-repeat 0 0;
                border: 0 none;
                color: #FFFFFF;
                float: left;
                font-size: 13px;
                height: 28px;
                line-height: 18px;
                margin-left: 1%;
                width: 98px;
            }

    .loginContent .featured {
        width: 282px;
        padding: 0 0 0 70px;
        background: url(verticle-shadow.png) no-repeat left top;
        height: 254px;
    }

        .loginContent .featured h2 {
            color: #3e3e3e;
            font-size: 27px;
            font-weight: bold;
            font-family: 'MyriadProSemibold', Arial, Helvetica, sans-serif;
            padding: 0 0 22px 0px;
            line-height: 27px;
            margin: 0;
        }

        .loginContent .featured ul {
            margin: 0;
            padding-bottom: 8px;
            float: left;
        }

            .loginContent .featured ul li.option {
                background: url(bullet.gif) no-repeat left 11px;
                line-height: 30px;
                padding: 0 0 0 18px;
            }

/*=== footer ===*/
/*#footer{ background:url(footer-bg-line.png) repeat-x left bottom; height:10px;}*/
#footer .copyright {
    color: #9a9a9a;
    font-size: 12px;
    padding: 15px 0;
    text-align: center;
}

a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt,
em, embed,
fieldset, figcaption, figure, font, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd,
keygen,
label, legend, li,
meter,
nav,
object, ol, output,
p, pre, progress,
q,
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul,
var {
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    /*vertical-align: baseline;*/ font-weight: normal;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}
/*table {border-collapse: collapse; border-spacing: 0;}*/

/*Landscape*/

@media (max-device-width: 1024px) and (orientation: landscape) {
    .wrapper {
        min-width: 1024px;
    }
}

/*portrait*/
@media (max-device-width: 768px) and (orientation: portrait) {
    #container {
        width: 95%;
    }

    #header {
        width: 768px;
    }

    .loginContent {
        margin: 20px 23px 20px;
    }

    .mainGreybg {
        width: 90%;
        height: 720px;
    }
    .mainGreybgHeader {
        width: 90%;
    }
    .loginBg {
        width: 100%;
        height: 295px;
    }

    .loginContent .login {
        width: 299px;
    }

    .loginContent .featured {
        width: 282px;
        padding: 0 0 0 50px;
    }

        .loginContent .featured h2 {
            padding: 0 0 15px;
        }
}

input#CaptchaInputText {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #cecece;
    border-radius: 5px;
    color: #7e7e7e;
    height: 34px;
    line-height: 20px;
    margin: 0 auto;
    padding: 0 0 0 10px;
    vertical-align: middle;
    width: 214px;
}

.imgdiv {
    float: left;
    padding: 3px;
    margin-left: 40px;
	width:45%;
	text-align:center;
}
.headerleftlogo {
    width:49.80%;
    float:left;
	border-radius: 5px;
    border: 1px solid #cecece;
	min-height:450px;
}
.headerrightnews {
    width:49.80%;
    float:left;
	border-radius: 5px;
    border: 1px solid #cecece;
	min-height:450px;
}
.simpleoptimisedheader {
    float: left; color: #3e3e3e; font-size: 16px !important; font-weight: bold; font-family: 'Raleway', Arial, Helvetica, sans-serif !important;margin:0 0% 0% 0% !important; text-align:center !important; padding:0% !important; width:100%;
}
.ulHeadeNews {
    margin:2% 0 0 0; font-family:"Raleway",sans-serif;
}
.mainGreybgHeader {
    
    width: 90%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    behavior: url(/pie1.htc);
    margin: 0 auto;
    padding: 0;
}
.newsli {
    height:65px;
    padding-left:2%;
}
.newsimgdiv {
    float:left;width:18%; height:20%;
}
.newsheaderdiv {
    float:left;width:78%; height:20%;padding-left:2%;padding-bottom:1%; text-align:justify;
}
.newsimgli {
    width:100px; height:50px;
}
.eturnsnewsHeader {
    color: #3e3e3e;font-size: 30px;font-weight: bold;font-family: 'MyriadProSemibold', Arial, Helvetica, sans-serif;  margin: 0 auto; text-align: center; line-height: 30px; padding:2% 0 0 0;
}


#overlay {
    position: fixed;
    background: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.welcomeMessage {
    border:8px solid #f1f1f1;
    width:75%;
    height:150px;
    border-radius:8px;
    text-align:center;
    padding:18px;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:100;
    background:#fff;
    font-size:20px;
}
    .welcomeMessage .welMsg {
        font-size: 32px;
        color: #396dc8;
    }
    .welcomeMessage .redFont {
        color: #ce3b3d;
    }
    .welcomeMessage .closeBtn {
        position:absolute; right:-15px; top:-15px; cursor:pointer;
    }


.trackStockPlans {
    padding: 30px 0 10px;
    text-align: center;
}

.replenish {
    background: #fff;
    border-radius: 10px;
    padding: 25px 20px;
    box-shadow: 0px 0px 50px rgb(19 46 71 / 20%);
    position:relative;
    height: 630px;
}
.repleTitle {
    font-size: 2rem;
    position: relative;
    color: #343f52;
    font-weight: 500;
    font-family: 'Maven Pro';
}
.repleTitle:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background: #3a6dc74d;
    bottom: -16px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.replenish ul li {
    list-style: none;
    padding: 0 0 0 25px;
    margin: 0;
    text-align: left;
    margin-bottom: 10px;
    color: #60697b;
    position: relative;
    font-weight: 400;
    font-size: 14px;
}
.planLoginSection * {
    box-sizing: border-box;
}

.planLoginSection{
    width: 90%;
    margin: 0 auto;
    padding: 0;
}
.replenish .Replenishbtn {
    left: 0;
    position: absolute;
    bottom: 10px;
    transition: all 0.4s;
    background: #3a6dc7;
    color: #fff!important;
    font-weight: 700;
    padding: 10px;
    width: 90%;
    right: 0;
    margin: 0 auto;
}
.replenish ul li {
    list-style: none;
    padding: 0 0 0 25px;
    margin: 0;
    text-align: left;
    margin-bottom: 10px;
    color: #60697b;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Maven Pro';
}
    .replenish ul li:before {
        content: " ";
        display: block;
        position: absolute;
        background: url(arrowtick.svg) 0 0;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        left: 0;
        top: 7px;
    }
.billed {
    font-size: 14px;
    color: #60697b;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    height: 75px;
}
.trackStockPlans .replenish .Replenishbtn:hover {
    background: #343f52;
    color: #fff;
    margin-top: 5px;
    bottom: 5px;
}
.includesTitle {
    font-size: 14px;
    color: black;
    text-align: left;
    margin-bottom: 10px;
}

.bottomTitle {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    font-size: 13px;
    color: black;
}
@media (max-width: 1599px) {
    .headerleftlogo, .headerrightnews {
        height: 480px;
    }
    .replenish {
        height:520px;
    }
}