.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sessionExpireWarning {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: 5px solid #666;
  padding-left: 30px;
  height: 80px;
  line-height: 80px;
  background-color: #c0d5be;
  font-size: 20px;
  margin-top: -10px;
  cursor: pointer;
}
