.personalButton button.abort span span.jQueryTextShadow{ top:18px !important; left:-2px !important;}
.personalButton button.abort span span.jQueryTextShadow2{ top:18px !important; left:-2px !important;}


.videoButtonWrap button.videoButtonPrevious span span.jQueryTextShadow{ top:13px !important; left:5px !important;}
.videoButtonWrap button.videoButtonPrevious span span.jQueryTextShadow2{ top:13px !important; left:5px !important;}

.videoButtonWrap button.videoButtonAbort span span.jQueryTextShadow{ top:15px !important; left:1px !important;}
.videoButtonWrap button.videoButtonAbort span span.jQueryTextShadow2{ top:15px !important; left:1px !important;}

.videoButtonWrap button.videoButtonNext span span.jQueryTextShadow{ top:14px !important; left:-10px !important; width:130px !important;}
.videoButtonWrap button.videoButtonNext span span.jQueryTextShadow2{ top:14px !important; left:-10px !important; width:130px !important;}


.headerCont .rightPanel button.videoButton span span.jQueryTextShadow{ top:5px !important; left:-66px !important; width:250px !important;}
.headerCont .rightPanel button.videoButton span span.jQueryTextShadow2{ top:5px !important; left:-66px !important; width:250px !important;}

.flyAdd button.uploadVdo span {margin-top:-8px;}

.profileBox .boxBg .leftContent button.yesButt span span.jQueryTextShadow{ top:-2px !important; left:-1px !important;}
.profileBox .boxBg .leftContent button.yesButt span span.jQueryTextShadow2{ top:-2px !important; left:-1px !important;}


.flyAdd button.uploadVdo span span.jQueryTextShadow{ top:8px !important; left:-38px !important; width:220px !important;}
.flyAdd button.uploadVdo span span.jQueryTextShadow2{ top:8px !important; left:-38px !important; width:220px !important;}
.paginationWrap button{ padding-bottom:0;}
.fanPageButton button, .productWrap button{ padding-bottom:0;}
.youTubeInfoButton button{ padding-bottom:0;}
