@charset "utf-8";
/* CSS Document */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #7e7e7e;
    font-size: 13px;
    background: #fff;
}

html, body {
    width: 100%;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.alignnone {
    float: none;
}

.clear {
    clear: both;
}

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix {
    display: block;
}

.margin {
    margin: 0 auto;
}
/*=== General ===*/
.wrapper {
    width: 100%;
    background: url(images/top-bg.jpg) repeat-x left top #fff;
}

.innerWrapper {
    width: 100%;
    background: repeat-x left top #fff;
}

#container {
    width: 90%;
    position: relative;
    margin: 0 auto;
}

a {
    color: #7e7e7e;
    text-decoration: none;
}

    a:hover {
        color: #7e7e7e;
        text-decoration: none;
    }

/*=== header ===*/
#header {
    position: relative;
    width: 100%;
    display: block;
}

#logo {
    margin: 15px 0 0px 15px;
}
/*header nav{ height:38px; padding:6px 0 0 14px; width:810px; display:block; float:left}
header nav ul{ float:left;}
header nav li{ float:left; padding-right:40px;}
header nav li a{ color:#FFF; display:block; padding:0 25px; position:relative; z-index:0; display:inline-block !important; height:37px;}
header nav li.first{ padding-right:46px !important;}
header nav li.third{ padding-right:55px !important;}
header nav li.fourth{ padding-right:34px !important;}
header nav li.first a{ padding-left:15px !important;}
header nav li.last{ padding-right:0px;}
header nav li.last a{ padding-right:10px !important;} 
*/


/*=== content ===*/
#contentWrap {
    margin: 0;
    padding: 19px 0 0 0;
}

.content {
    background: url(images/content-bg.png) no-repeat left -20px;
    width: 100%;
    height: 641px;
}

    .content h1 {
        color: #3e3e3e;
        font-size: 30px;
        font-weight: bold;
        font-family: 'MyriadProSemibold', Arial, Helvetica, sans-serif;
        padding: 58px 0 58px 0;
        margin: 0 auto;
        text-align: center;
        line-height: 30px;
    }

.mainGreybg {
    background: #217ecf; /* Old browsers */
    background: -moz-linear-gradient(top, #217ecf 0%, #1265ac 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#217ecf), color-stop(100%,#1265ac)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #217ecf 0%,#1265ac 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #217ecf 0%,#1265ac 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #217ecf 0%,#1265ac 100%); /* IE10+ */
    background: linear-gradient(to bottom, #217ecf 0%,#1265ac 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#217ecf', endColorstr='#1265ac',GradientType=0 ); /* IE6-9 */
    width: 770px;
    height: 294px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    behavior: url(/pie1.htc);
    margin: 0 auto;
    padding: 9px;
}

.loginBg {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #cecece;
    background: #fff;
    behavior: url(/pie1.htc);
    margin: 0 auto;
    width: 768px;
    height: 291px;
}

.loginContent {
    margin: 20px 54px 40px 31px;
}

    .loginContent .login {
        width: 328px; /*background:url(../images/verticle-shadow.png) no-repeat left top; width:15px; height:254px;*/
    }

        .loginContent .login h2 {
            color: #3e3e3e;
            font-size: 24px;
            font-weight: bold;
            font-family: 'MyriadProSemibold', Arial, Helvetica, sans-serif;
            padding: 0 0 22px 30px;
            line-height: 24px;
            margin: 0;
        }

        .loginContent .login .loginForm ul {
            margin: 0;
            padding-bottom: 15px;
            float: left;
        }

            .loginContent .login .loginForm ul li span .icon {
                padding: 9px 13px 0 0;
            }

            .loginContent .login .loginForm ul li input {
                border: none;
            }

            .loginContent .login .loginForm ul li .inputtext {
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                border: 1px solid #cecece;
                background: #fff;
                behavior: url(/pie1.htc);
                margin: 0 auto;
                width: 214px;
                height: 34px;
                padding: 0 0 0 10px;
                color: #7e7e7e;
                line-height: 20px;
                line-height /*\**/: 34px\9;
                vertical-align: middle;
            }

                .loginContent .login .loginForm ul li .inputtext:focus {
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    border: 1px solid #dadada;
                    background: #fff;
                    behavior: url(/pie1.htc);
                    -webkit-box-shadow: 0 1px 10px #dadada;
                    -moz-box-shadow: 0 1px 10px #dadada;
                    box-shadow: 0 1px 10px #dadada;
                }

            .loginContent .login .loginForm ul li .remember {
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                border: 1px solid #dfdfdf;
                background: #f4f4f4 !important;
                behavior: url(/pie1.htc);
                margin: 0 auto;
                width: 224px;
                height: 27px;
                color: #7e7e7e;
                padding-bottom: 7px;
                *margin-left: 0px;
            }

            .loginContent .login .loginForm ul li .checkbox {
                margin: 8px 9px 0 12px;
            }

            .loginContent .login .loginForm ul .mLeft30 {
                margin-left: 30px;
                *margin-left: 30px;
            }

            .loginContent .login .loginForm ul .mLeft160 {
                margin-left: 160px;
                *margin-left: 160px;
            }

            .loginContent .login .loginForm ul .mLeft130 {
                margin-left: 67px;
                *margin-left: 67px;
                margin-top: 5px;
                *margin-top: 5px;
            }
            /*.loginContent .login .loginForm ul li .btnLogin { background:url(../images/orange-btn.png) no-repeat left top; padding:0 0 0 5px; display:block; height:37px; cursor:pointer;}
.loginContent .login .loginForm ul li .btnLogin input { background:url(../images/orange-btn.png) repeat-x right -37px; padding:3px 30px 0 12px; display:block; height:37px; float:left; width:85px; cursor:pointer; color:#fff;}*/

            .loginContent .login .loginForm ul li input.searchBtn {
                background: url(images/search-btn.png) no-repeat 0 0;
                border: 0 none;
                color: #FFFFFF;
                float: left;
                font-size: 13px;
                height: 28px;
                line-height: 18px;
                margin-left: 1%;
                width: 98px;
            }

    .loginContent .featured {
        width: 282px;
        padding: 0 0 0 70px;
        background: url(images/verticle-shadow.png) no-repeat left top;
        height: 254px;
    }

        .loginContent .featured h2 {
            color: #3e3e3e;
            font-size: 27px;
            font-weight: bold;
            font-family: 'MyriadProSemibold', Arial, Helvetica, sans-serif;
            padding: 0 0 22px 0px;
            line-height: 27px;
            margin: 0;
        }

        .loginContent .featured ul {
            margin: 0;
            padding-bottom: 8px;
            float: left;
        }

            .loginContent .featured ul li.option {
                background: url(images/bullet.gif) no-repeat left 11px;
                line-height: 30px;
                padding: 0 0 0 18px;
            }

/*=== footer ===*/
/*#footer{ background:url(images/footer-bg-line.png) repeat-x left bottom; height:10px;}*/
#footer .copyright {
    color: #9a9a9a;
    font-size: 12px;
    padding: 15px 0;
    text-align: center;
}

a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt,
em, embed,
fieldset, figcaption, figure, font, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd,
keygen,
label, legend, li,
meter,
nav,
object, ol, output,
p, pre, progress,
q,
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul,
var {
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    /*vertical-align: baseline;*/ font-weight: normal;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}
/*table {border-collapse: collapse; border-spacing: 0;}*/

/*Landscape*/

@media (max-device-width: 1024px) and (orientation: landscape) {
    .wrapper {
        min-width: 1024px;
    }
}

/*portrait*/
@media (max-device-width: 768px) and (orientation: portrait) {
    #container {
        width: 90%;
    }

    #header {
        width: 768px;
    }

    .loginContent {
        margin: 20px 23px 20px;
    }

    .mainGreybg {
        width: 680px;
        height: 296px;
    }

    .loginBg {
        width: 680px;
        height: 295px;
    }

    .loginContent .login {
        width: 299px;
    }

    .loginContent .featured {
        width: 282px;
        padding: 0 0 0 50px;
    }

        .loginContent .featured h2 {
            padding: 0 0 15px;
        }
}

input#CaptchaInputText {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #cecece;
    border-radius: 5px;
    color: #7e7e7e;
    height: 34px;
    line-height: 20px;
    margin: 0 auto;
    padding: 0 0 0 10px;
    vertical-align: middle;
    width: 214px;
}
