.clearfix {zoom: 1; display: block;}
.userWrap  input, .locationInfo input{ position:relative;}
input[type="text"], input[type="password"], textarea{position:relative;}
.errorInfo{ position:relative;}
.jcarousel-skin-tango li:hover{ position:relative;}

.videoButtonPrevious, .videoButtonNextWrap button.videoButtonNext, .videoButtonNextWrap button.videoButtonAbort{  padding-top:6px;}

.footerContent .rightContent .toggleslide button.arrowButt{ font-size:13px; color:#f0d6e4; text-decoration:underline; margin-left:-7px; background:url(../images/toggle-arrow.png) no-repeat center bottom; width:85px; border:none; cursor:pointer; white-space:nowrap; padding-bottom:10px; outline:none;}
.headerCont .rightPanel button.videoButton span{ margin:-5px 0 0 64px; }

/* New class*/
.top10 .videoBox { position:relative;}
.homeSlider .slideBox{ position:relative;}
.flyAdd { position:relative;}
.flyAdd .roundCurve{ position:relative;}
.profileBox .boxBg .leftContent button.yesButt span{ padding-top:4px; float:left;}




