.personalButton button.abort span span.jQueryTextShadow{ top:3px !important; left:1px !important;}
.personalButton button.abort span span.jQueryTextShadow2{ top:-1px !important; left:-2px !important;}


.videoButtonWrap button.videoButtonPrevious span span.jQueryTextShadow{ top:2px !important; left:1px !important;}
.videoButtonWrap button.videoButtonPrevious span span.jQueryTextShadow2{ top:-1px !important; left:-2px !important;}

.videoButtonWrap button.videoButtonAbort span span.jQueryTextShadow{ top:2px !important; left:1px !important;}
.videoButtonWrap button.videoButtonAbort span span.jQueryTextShadow2{ top:-1px !important; left:-2px !important;}

.videoButtonWrap button.videoButtonNext span span.jQueryTextShadow{ top:2px !important; left:1px !important;}
.videoButtonWrap button.videoButtonNext span span.jQueryTextShadow2{ top:-1px !important; left:-2px !important;}


.headerCont .rightPanel button.videoButton span span.jQueryTextShadow{ top:5px !important; left:-66px !important;}
.headerCont .rightPanel button.videoButton span span.jQueryTextShadow2{ top:5px !important; left:-66px !important;}

.flyAdd button.uploadVdo span{ font-size:16px; font-weight:bold; color:#fff; float:left; margin:-10px 0 0 37px;}



.profileBox .boxBg .leftContent button.yesButt span span.jQueryTextShadow{ top:-1px !important; left:-1px !important;}
.profileBox .boxBg .leftContent button.yesButt span span.jQueryTextShadow2{ top:-1px !important; left:-1px !important;}


.flyAdd button.uploadVdo span span.jQueryTextShadow{ top:9px !important; left:-35px !important;}
.flyAdd button.uploadVdo span span.jQueryTextShadow2{ top:9px !important; left:-35px !important;}


.paginationWrap button{ padding-bottom:0;}
.fanPageButton button, .productWrap button{ padding-bottom:0;}
div.youTubeInfoButton button{ padding-bottom:0;}