/* SimpleModal Basic Modal Dialog */

#basic-modal-content
{
    display: none;
}

/* Overlay */
#simplemodal-overlay
{
    background-color: #000;
}

/* Container */
#simplemodal-container
{
    /*height: 409px;
    width: 684px;*/
    color: #bbb;
    /*background-color: #FFF;
    border: 4px solid #666;
    padding: 12px;*/
}
#simplemodal-container code
{
    background: #141414;
    border-left: 3px solid #65B43D;
    /*color: #bbb;*/
    display: block;
    margin-bottom: 12px;
    padding: 4px 6px 6px;
}
#simplemodal-container a
{
    /*color: #ddd;*/
}
#simplemodal-container a.modalCloseImg
{
    background: url(images/close_btn.png) no-repeat;
    width: 24px;
    height: 24px;
    display: inline;
    z-index: 3200;
    position: absolute;
    top: -15px;
    right: -16px;
    cursor: pointer;
}
#simplemodal-container #basic-modal-content
{
    /*padding: 8px;*/
}
.lblsubject
{
    font-family: Calibri, Arial;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color:#000;
}
