/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

/*.extremes-inner li{ margin: 0 0 0 -7px;}*/

.tabs { list-style: none; overflow: hidden; padding-left: 1px; }
.tabs li { display: inline; }
.tabs li a,.tabs li a:hover {background: url(../images/tab-bg.png) no-repeat scroll left top transparent;
    color: #909090;
    display: block;
    float: left;
    /*height: 27px;white-space: normal;*/
    padding: 0 0 0 26px;
    }
.tabs li a span, .tabs li a span:hover{ background: url(../images/tab-bg.png) no-repeat scroll right -41px transparent;
    color: #909090;
    display: block;
    float: left;
    
    margin: 0;
    padding: 12px 22px 12px 13px;
    /*white-space: normal;height: 35px;
    width: 68px;*/
	font-size:12px; text-align:center;}
.tabs li a.active {background: url(../images/tab-bg-over.png) no-repeat scroll left top transparent;
    color: #fff;
    display: block;
    float: left;
    /*height: 27px;white-space: normal;*/
    padding: 0 0 0 26px;
    }
.tabs li a.active span{ background: url(../images/tab-bg-over.png) no-repeat scroll right -41px transparent;
    color: #fff;
    display: block;
    float: left;
    
    margin: 0;
    padding: 12px 22px 12px 13px;
    /*white-space: normal;
    width: 68px;height: 35px;*/
	font-size:12px; text-align:center;}

.tabs li a.current { background: #1c6cb0; /* Old browsers */
background: -moz-linear-gradient(left,  #1c6cb0 0%, #2080d2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1c6cb0), color-stop(100%,#2080d2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #1c6cb0 0%,#2080d2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #1c6cb0 0%,#2080d2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #1c6cb0 0%,#2080d2 100%); /* IE10+ */
background: linear-gradient(to right,  #1c6cb0 0%,#2080d2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c6cb0', endColorstr='#2080d2',GradientType=1 ); /* IE6-9 */
 position: relative; z-index: 2; }

.verticalText {
	position:relative;
	font:normal 14px arial;
	display: inline-block;
	overflow: hidden;
	width: 39px;
	cursor:pointer;
	z-index:2;
	margin-left:5px;
}
.vertical-text-inner {
	display: inline-block;
	white-space: nowrap;
	line-height: 11px;/*12*/
	padding: 0.5em;
	-moz-transform:    rotate(-90deg)
                         translateX(0px)
                         scale(1);
     -o-transform:      rotate(-90deg)
                         translateX(0)
                         scale(1);
     -webkit-transform: rotate(-90deg)
                         translateX(0)
                         scale(1);
     transform:         rotate(-90deg)
                         translateX(0)
                         scale(1);
    -ms-transform:rotate(-90deg);
/*-ms-transform:translate(5px, -3px) rotate(0deg);						 			
   -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=4.592425496802575e-16, M12=1, M21=-1, M22=4.592425496802575e-16, SizingMethod='auto expand')";
   filter: progid:DXImageTransform.Microsoft.Matrix(
            M11=4.592425496802575e-16,
            M12=1,
            M21=-1,
            M22=4.592425496802575e-16,
            SizingMethod='auto expand');
	color:#fff;*/
}


.vertical-text-inner:after {
	content: "";
	display: block;
	margin: -1.5em 0 100%;
}
.selected .tableftbg{background:url(images/tab-left.png) 0 0 no-repeat;width:41px; height:17px;margin-bottom:5px;}
.selected .tabmidbg{background:#2181d4 url(images/tab-mid.png) 0 0 repeat-x;color:#fff !important;position:relative;padding-top:7px;left:0px;}
.selected .tabrightbg{background:url(images/tab-right.png) 0 0 no-repeat;width:41px; height:17px;}

.verticalText span{position:relative;top:7px;border-collapse:collapse;padding-left:5px; padding-right:24px;}
.verticalText .notification
{
    position:absolute;
    right:-3px;
    background:url(images/num-selected.png) 0 0 no-repeat;
    height: 29px;
    width:29px;
    padding:9px 0 0 0;
    text-align:center;
    font-size:11px;
    color:#fff;
}
.verticalText .notificationrel
{
    position:relative;
    
}

.tableftbg{background:url(images/tab-left-hover-select.png) 0 0 no-repeat;width:41px; height:25px;margin-top:7px;margin-bottom:0;}
.tabmidbg{background:url(images/tab-mid-hover-select.png) 0 0 repeat-x; color:#000 !important;position:relative;margin-bottom:-3px;margin-left:-5px;}
.tabrightbg{background:url(images/tab-right-hover-select.png) 0 0 no-repeat;width:41px; height:9px;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.selected .tableftbg{margin-top:3px!important;}
}

@-moz-document url-prefix() {
 .selected .tableftbg{margin-top:3px!important;}
}
.contentedgebg{position:absolute;z-index:1; top:0; left:43px; height:100%;}

.tabContentHldr{position:relative;z-index:1;}
.tdContentHldr{border-top:1px solid #b8b8b8;border-bottom:1px solid #b8b8b8;border-right:1px solid #b8b8b8;background-color:#f8f8f8;}



.fixer{padding-left:4px;padding-bottom:10px;}

