@{
    bool ShowWarning = false;
    bool IsPasswordChange = false;

  //  bool NeedResetPassword = eTurnsWeb.Helper.SessionHelper.GetAdminPermission(eTurnsWeb.Helper.SessionHelper.ModuleList.PasswordResetRule);
    eTurnsMaster.DAL.UserSettingDAL objUserSettingDAL = new eTurnsMaster.DAL.UserSettingDAL();
    eTurns.DTO.UserSettingDTO objUserSettingDTO = objUserSettingDAL.GetByUserId(eTurnsWeb.Helper.SessionHelper.UserID);
    if (objUserSettingDTO != null)
    {
        IsPasswordChange = objUserSettingDTO.IsNeverExpirePwd;
    }
    string fromlogin = Convert.ToString(Request.QueryString["FromLogin"]);
    int PasswordExpiryDays = 0;
    int PasswordExpiryWarningDays = 0;
    bool IsPasswordExpired = false;
    if (!string.IsNullOrWhiteSpace(fromlogin))
    {
        ShowWarning = true;

    }
    if (ShowWarning  && eTurnsWeb.Helper.SessionHelper.RoleID != -1 && (!IsPasswordChange))
    {
        eTurnsMaster.DAL.UserMasterDAL objUserDAL = new eTurnsMaster.DAL.UserMasterDAL();
        eTurns.DAL.EnterPriseConfigDAL objDAL = new eTurns.DAL.EnterPriseConfigDAL(eTurnsWeb.Helper.SessionHelper.EnterPriseDBName);
        EnterPriseConfigDTO objDTO = objDAL.GetRecord(eTurnsWeb.Helper.SessionHelper.EnterPriceID);
        if (objDTO != null)
        {
            PasswordExpiryDays = objDTO.PasswordExpiryDays ?? 0;
            PasswordExpiryWarningDays = objDTO.PasswordExpiryWarningDays ?? 0;
        }
        if (PasswordExpiryDays > 0)
        {
            IsPasswordExpired = objUserDAL.CheckPasswordWarning(eTurnsWeb.Helper.SessionHelper.UserID, PasswordExpiryDays, Convert.ToInt32(PasswordExpiryWarningDays));
        }

    }
}

<div class="dialog" id="basicPasswordExiprationMessegecontent" style="display: none;">
    <div class="inner">
        <p class="text">
           @eTurns.DTO.Resources.ResMessage.PassWordWarningMessage 
            <br /><br /><input type="checkbox" id="HideMessage" />Don't Show Message Again<br />
        </p>
        <a href="JavaScript:void{}" id="btnUndeleteModelYes" class="yes" style=" padding: 5px 3px !important; width: 115px !important; margin: 0 10px 0 50px !important;">
            <img src="~/Content/images/yes.png" alt="Yes" />@eTurns.DTO.Resources.ResMessage.ChangePasswordConfirm
        </a><a href="javascript:void(0);" class="no" id="btnUndeleteModelNo">
    <img src="~/Content/images/no.png" alt="No" />@eTurns.DTO.Resources.ResMessage.Cancel
</a>
    </div>
</div>

<script type="text/javascript">
    var isChecked = false;
    $(document).ready(function () {
        if ('@IsPasswordExpired' == '@Boolean.TrueString') {
            $('#basicPasswordExiprationMessegecontent').modal();
        }
    });
    $("a#btnUndeleteModelYes").click(function () {
        isChecked = $("input#HideMessage").is(":checked")
        $('#DivLoading').show();
        HideMessage();
        window.location = '/Master/ChangePassword';
    });
    $("a#btnUndeleteModelNo").click(function () {
        isChecked= $("input#HideMessage").is(":checked")
        $('#DivLoading').show();
        HideMessage();
        
        closeModal();
    });
    function HideMessage()
    {
        $.ajax({
            'url': '/Master/HideMessage',
            data: { isChecked: isChecked},
            async: false,
            success: function (response) {
                closeModal();
            },
            error: function (response) {
                $('#DivLoading').hide();
            },
            complete: function () {
                $('#DivLoading').hide();
            }
        });
    }
</script>
<style>
    .dialog .inner .yes {
       
    }
</style>