<div id="divQTYLegends" style="clear: both; width: 90%; margin-top: 10px; display: none">
    <div>
        <span class="SpanCriticalLegend" style="background-color:@eTurnsWeb.Helper.SessionHelper.CriticalQuantityBackColor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;@eTurns.DTO.ResItemMaster.CriticalQuantityMSG
    </div>
    <div style="clear: both; margin-top: 5px;">
        <span class="SpanMinimumLegend" style="background-color:@eTurnsWeb.Helper.SessionHelper.MinimumQuantityBackColor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;@eTurns.DTO.ResItemMaster.MinimumQuantityMSG
    </div>
    <div style="clear: both; margin-top: 5px;display: none;" id="SpanInActiveLegend">
        <span class="SpanInActiveLegend" style="background-color:@eTurnsWeb.Helper.SessionHelper.InActiveQuantityBackColor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;@eTurns.DTO.ResItemMaster.InActiveItemMSG
    </div>
</div>
