<div id="divQuoteLegends" style="clear: both; width: 90%; margin-top: 10px; display: none">
    <div>
        <span class="SpanQuoteDisableOrderLegend" style="background-color:@eTurnsWeb.Helper.SessionHelper.QuoteLegendNotOrderableBackColor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;<span id="spnQuoteLegends">@eTurns.DTO.ResQuoteMaster.QuoteLegendNotOrderable</span>
    </div>
</div>
