<div id="divQTYLegends" style="clear: both; width: 90%; margin-top: 10px; ">
     
    <div style="clear: both; margin-top: 5px;">
        <span class="SpanQuantityToRequestedLegend" style="background-color:#FFFF00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;@eTurns.DTO.ResTransfer.RequestedQuantityOHQMSG
    </div>
     
</div>
