<div id="dvParitalItemChart1" style="width:43%;float:left; background: none repeat scroll 0 0 #F8F8F8; padding: 10px 0 0 28px">

</div>
<div id="dvParitalItemChart2" style="width:43%;float:left;background: none repeat scroll 0 0 #F8F8F8; padding: 10px 0 0 28px">

</div>
<div id="dvParitalItemChart3" style="width:43%;float:left;background: none repeat scroll 0 0 #F8F8F8; padding: 10px 0 0 28px">

</div>
<div id="dvParitalItemChart4" style="width:43%;float:left;background: none repeat scroll 0 0 #F8F8F8; padding: 10px 0 0 28px">

</div>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $('#dvParitalItemChart1').empty();
        $('#dvParitalItemChart1').load('/ItemChart/LoadChart', function () { });

        $('#dvParitalItemChart2').empty();
        $('#dvParitalItemChart2').load('/ItemChart/LoadChart', function () { });

        $('#dvParitalItemChart3').empty();
        $('#dvParitalItemChart3').load('/ItemChart/LoadChart', function () { });

        $('#dvParitalItemChart4').empty();
        $('#dvParitalItemChart4').load('/ItemChart/LoadChart', function () { });
    });
</script>
