<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!--Okta Config Start-->
		<section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
		<section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
		<section name="sustainsys.saml2" type="Sustainsys.Saml2.Configuration.SustainsysSaml2Section, Sustainsys.Saml2" />
		<!--Okta Config End-->
	</configSections>
	<appSettings>
		<!-- START | All user defined Keys | START -->
		<add key="FormatDateTimetoStore" value="yyyy/MM/dd HH:mm:ss tt" />
		<add key="CSVseparator" value="," />
		<add key="logiphist" value="1" />
		<add key="MaxItemsInGraph" value="10" />
		<add key="EnableOptimizations" value="false" />
		<add key="BCCAddress" value="niraj_dave@silvertouch.com" />
		<add key="CtrlName" value="Master" />
		<add key="ActName" value="Dashboard" />
		<add key="LoginCtrlName" value="Inventory" />
		<add key="LoginActName" value="ItemMasterList" />
		<add key="secretkey" value="12ka4" />
		<add key="DomainName" value="http://localhost:7186/" />
		<add key="DomainURL" value="https://localhost:7186/" />
		<add key="CoreWebApiURL" value="https://ngapi.eturns.com" />
		<add key="LocalHostName" value="http://localhost:7186/" />
		<add key="RDLCBaseFilePath" value="D:\Projects\eTurns\Trunk\eTurns.TrackStock\eTurnsWeb\RDLC_Reports" />
		<add key="BaseFilePath" value="D:\Projects\eTurns\Trunk\eTurns.TrackStock\eTurnsWeb\" />
		<add key="BaseFileSharedPath" value="\\DSKD-7-DNET-HET\WebSites\eTurns4040\" />
		<add key="ResourceBaseFilePath" value="D:\Projects\eTurns\Trunk\eTurns.TrackStock\eTurnsWeb\Resources" />
		<add key="JsonSiteSettingFilePath" value="D:\Projects\eTurns\Trunk\eTurns.TrackStock\eTurnsWeb\SiteSettings.json" />
		<add key="CSSPath" value="~/Content/css" />
		<add key="JSPath" value="~/bundles/Scripts" />
		<add key="ItemImageLink2" value="~/Uploads/InventoryLink2/" />
		<add key="ItemImage" value="~/Uploads/InventoryPhoto/" />
		<add key="AssetPhoto" value="~/Uploads/AssetPhoto/" />
		<add key="SupplierPhoto" value="~/Uploads/SupplierLogos/" />
		<add key="ToolPhoto" value="~/Uploads/ToolPhoto/" />
		<add key="WorkOrderFilePaths" value="~/Uploads/WorkOrderFile/" />
		<add key="NoImage" value="~/Content/images/no-image.jpg" />
		<add key="QBLogEmailTo" value="eturnsdevmails@silvertouch.com" />
		<!-- END | All user defined Keys | END -->
		<!-- START | System Defined App config keys | START -->
		<add key="vs:EnableBrowserLink" value="false" />
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="aspnet:MaxJsonDeserializerMembers" value="2147483600" />
		<add key="aspnet:RequestQueueLimitPerSession" value="2147483647" />
		<add key="owin:AutomaticAppStartup" value="true" />
		<add key="ChartImageHandler" value="storage=file;timeout=20;dir=D:\Projects\eTurns\Trunk\eTurns.TrackStock\eTurnsWeb\TempImageFiles\;" />
		<!-- END | System Defined App config keys | END -->
		<!-- START | Database Connection | START -->
		<add key="DBproviderName" value="System.Data.SqlClient" />
		<add key="DBserverName" value="192.168.5.150" />
		<add key="DBFailoverPartner" value="192.168.5.150" />
		<add key="DbUserName" value="sa" />
		<add key="DbPassword" value="ibm@@123" />
		<!--<add key="DbUserName" value="sa" />
		<add key="DBFailoverPartner" value="172.31.12.215" />
		<add key="DBserverName" value="172.31.11.184" />
		<add key="DbPassword" value="xE&amp;rupH7Fru@e5u" />-->
		<add key="RPT_DbUserName" value="sa" />
		<add key="RPT_DBFailoverPartner" value="192.168.5.150" />
		<add key="RPT_DBserverName" value="192.168.5.150" />
		<add key="RPT_DbPassword" value="ibm@@123" />
		<add key="IsWSFC" value="no" />
		<add key="WSFCLSNR" value="ETRNSLSN1" />
		<add key="WSFCLSNRPORT" value="1433" />
		<add key="MultiSubFailover" value="True" />
		<add key="AppIntent" value="ReadWrite" />
		<add key="ReportAppIntent" value="ReadOnly" />
		<add key="Enkey" value="sapphire123!@#" />
		<!-- END | Database Connection | END -->
		<!-- START | Template Databses and Dedicated Databases | START -->
		<add key="TemplateDbName" value="eTurns" />
		<add key="MasterDBName" value="eTurnsMaster" />
		<add key="eTurnsEMailDBName" value="eTurnsEmails" />
		<add key="eTurnsScheduleDBName" value="eTurnsSchedule" />
		<add key="eTurnsLoggingDBName" value="eTurnsLogging" />
		<add key="ImportDBName" value="eTurnsImport" />
		<add key="eTurnsHistoryDBName" value="eTurnsHistory" />
		<add key="eTurnsChangeLogDBName" value="eTurnsChangeLog" />
		<add key="eTurnsArchiveDBName" value="eTurnsArchive" />
		<add key="eTurnsResourceDBName" value="eTurnsResource" />
		<add key="eTurnsQuickBookDBName" value="eTurnsQuickBook" />
		<!-- END | Template Databses and Dedicated Databases | END -->
		<!-- START | reCaptcha Nugget package Key | START -->
		<add key="reCaptchaPublicKey" value="Your site key" />
		<add key="reCaptchaPrivateKey" value="Your secret key" />
		<!-- END | reCaptcha Nugget package Key | END -->
		<!-- START | Doubtfull / Unnecessary/ Unused / Old / Not Removed | START -->
		<add key="SMTPHost" value="smtp.gmail.com" />
		<add key="SMTPPort" value="587" />
		<add key="SMTPUserName" value="sapphire@eturns.com" />
		<add key="SMTPPassword" value="1357Tunes" />
		<add key="FromAddress" value="eturnsadmin@gmail.com" />
		<add key="OverrideToEmail" value="" />
		<add key="loginwithselection" value="0" />
		<add key="EnableMasterLogin" value="1" />
		<add key="ReportServerURL" value="http://sd-1002960/ReportServer_ETURNSSQLSERVER" />
		<add key="ReportServiceURL" value="http://sd-1002960/ReportServer_ETURNSSQLSERVER/ReportService2010.asmx" />
		<add key="ExecutionServiceURL" value="http://sd-1002960/ReportServer_ETURNSSQLSERVER/ReportExecution2005.asmx" />
		<add key="ReportsUrl" value="http://sd-1002960/Reports_ETURNS/Pages/Folder.aspx" />
		<add key="NetworkUser" value="Administrator" />
		<add key="NetworkPassword" value="Y2K@T3" />
		<add key="NetworkDomain" value="SD-1002960" />
		<add key="ViewNewPullbuttons" value="yes" />
		<add key="PasswordExpiry" value="30" />
		<add key="EmailLoggin" value="yes" />
		<add key="IsServer" value="True" />
		<add key="ViewNewCountApplyButtons" value="yes" />
		<add key="WorkOrderFilePath" value="WorkOrderFile" />
		<add key="ItemImagePath" value="InventoryPhoto" />
		<add key="ReportFolder_Reports" value="Supporting Information" />
		<add key="ReportFolder_Transaction" value="Transaction" />
		<!-- END | Doubtfull / Unnecessary/ Unused / Old / Not Removed | END -->

		<add key="eVMILogDirectory" value="eVMILogDirectory" />
		<add key="eVMILogEmailTo" value="eturnsdevmails@silvertouch.com" />
		<add key="eVMILogEmailCC" value="support@eturns.com" />

		<add key="eVMISendErrorEmail" value="false" />
		<add key="eVMIIsComPortSimulation" value="0" />
		<add key="eVMIIsFromWebSite" value="1" />
		<add key="SolumAIMSBaseURL" value="https://eastus.common.solumesl.com/common/api/" />
		<add key="Medline" value="https://sts.windows.net/d6b0474e-14ab-41bb-adbd-8c39f8f21582/" />
		<add key="Eturns" value="https://sts.windows.net/f308d7d8-e963-4dbf-bf42-be2e140a7bed/" />
		<add key="okta" value="http://www.okta.com/exk1392ynmREZljKs5d7" />
		<add key="Border_States_Electric" value="http://www.okta.com/exkv0g8jy3Qc5zddy357" />
		<add key="STTL_Users" value="http://www.okta.com/exk6jtw85geFiKran4x7"/>
	</appSettings>
	<system.web>
		<machineKey decryptionKey="7EB42B3AF9C3ACD898E27B840B8D9771A080FDB05DF8DE6C" validationKey="F3781BC1CC55D4C4D08D36035845254F3BEB8A6033ED16FFAEBA72F7E4C7B1BD60AC19731B637945DB8E4A965014B001E59A87AD2605277D819EC528ED724D9A" />
		<!--    <machineKey decryptionKey="AutoGenerate,IsolateApps" validation="HMACSHA256" validationKey="AutoGenerate,IsolateApps" compatibilityMode="Framework45" />-->
		<httpRuntime targetFramework="4.8" maxUrlLength="32766" enableVersionHeader="false" executionTimeout="36000" maxQueryStringLength="2064385" maxRequestLength="2097151" encoderType="System.Web.Security.AntiXss.AntiXssEncoder,System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
				<add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
			</buildProviders>
		</compilation>
		<globalization culture="en-US" uiCulture="en-US" />
		<authentication mode="Forms">
			<forms loginUrl="~/Master/UserLogin" timeout="2880" cookieless="UseCookies" name=".ASPXFORMSAUTH4040" />
		</authentication>
		<authorization>
			<deny users="?" />
		</authorization>
		<customErrors mode="Off" defaultRedirect="~/Account/GenericError">
			<error statusCode="404" redirect="~/Account/PageNotFound" />
			<error statusCode="500" redirect="~/Account/InternalError" />
		</customErrors>
		<pages controlRenderingCompatibilityVersion="4.0" validateRequest="false" pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Optimization" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</controls>
		</pages>
		<httpHandlers>
			<add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
		</httpHandlers>
		<profile defaultProvider="DefaultProfileProvider">
			<providers>
				<add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
			</providers>
		</profile>
		<membership defaultProvider="DefaultMembershipProvider">
			<providers>
				<add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<roleManager defaultProvider="DefaultRoleProvider">
			<providers>
				<add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
			</providers>
		</roleManager>
		<sessionState mode="InProc" customProvider="DefaultSessionProvider">
			<providers>
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
			</providers>
		</sessionState>

	</system.web>
	<!-- Allow Access to page without login -->

	<location path="Content/OpenAccess">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Downloads">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>

	<location path="PDA">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>

	<location path="Uploads">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="favicon.ico">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Master/UserLoginAuthanticateMasterDataBase">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="DefaultCaptcha/Generate">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Master/SendPasswordWithCaptcha">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="DefaultCaptcha/Refresh">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Master/ForgotPassword">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	
	<location path="Master/LoginWithOkta">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Master/ResetPassword">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="EmailLink/SendPassword">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="GenerateCache/LogUserSyncHistory">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="GenerateCache/GenerateCacheAftereVMI">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="GenerateCache/SyncComplete">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="GenerateCache/GetUserInformation">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="GenerateCache/GetUserInformationLogin">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="GenerateCache/GenerateCacheCompany">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="GenerateCache/InventoryLocationCreateMobile">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="GenerateCache/ManufacturerMasterCreateMobile">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="GenerateCache/SupplierMasterCreateMobile">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="GenerateCache/UnitMasterCreateMobile">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="GenerateCache/CostUOMMasterCreateMobile">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="GenerateCache/CategoryMasterCreateMobile">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="GenerateCache/InventoryClassificationMasterCreateMobile">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Barcode/GetBarcodeByKey">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="EmailLink/RequisitionStatus">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="EmailLink/OrderStatus">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="EmailLink/TransferStatus">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="GenerateCache/GetUserRoomwisePDASyncBackDays">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Master/UserLoginNews">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Master/eTurnsNewsBlogs">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<!--Okta Config Start-->
	<location path="OktaClient/SignIn">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	
	<location path="OktaClient/OktaLoginWebSVC">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>

	<location path="Saml2/SignIn">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="OktaClient/Acs">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Saml2/Acs">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="OktaClient/OktaLoginSuccess">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Account/ABGetApp">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<!--Okta Config End-->
	<!-- Allow Access to page without login -->

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Fizzler" publicKeyToken="4ebff4844e382110" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.10.0" newVersion="1.8.10.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.2.10" newVersion="1.3.2.10" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<!--<dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.Debug" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>-->
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyModel" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.35.1.0" newVersion="4.35.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.12.1.0" newVersion="6.12.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.12.1.0" newVersion="6.12.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.12.1.0" newVersion="6.12.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.12.1.0" newVersion="6.12.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.12.1.0" newVersion="6.12.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.12.1.0" newVersion="6.12.1.0" />
			</dependentAssembly>
			<!--<dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.Console" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.Trace" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.File" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>-->
			<dependentAssembly>
				<assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.17.0.0" newVersion="1.17.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Azure.Identity" publicKeyToken="92742159e12e44c8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.4.1.0" newVersion="1.4.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Identity.Client.Extensions.Msal" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.18.9.0" newVersion="2.18.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<!--<dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.Debug" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>-->
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</compilers>
	</system.codedom>
	<system.webServer>
		<modules>
			<remove name="FormsAuthenticationModule" />
			<add name="FormsAuthenticationModule" type="System.Web.Security.FormsAuthenticationModule" />
			<remove name="UrlAuthorization" />
			<add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" />
			<remove name="DefaultAuthentication" />
			<add name="DefaultAuthentication" type="System.Web.Security.DefaultAuthenticationModule" />
			<add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
		<!--<modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </modules>-->
		<handlers>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
			<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxUrl="32766" maxQueryString="2064385" maxAllowedContentLength="2000000000"></requestLimits>
				<fileExtensions>
					<add fileExtension=".php" allowed="false" />
				</fileExtensions>
			</requestFiltering>
		</security>
		<defaultDocument>
			<files>
				<add value="Master/UserLogin" />
			</files>
		</defaultDocument>
		<!--<rewrite>
      <rules>
        <rule name="Force Https" stopProcessing="true">
          <match url="healthcheck.html" negate="true" />
          <conditions>
            <add input="{HTTP_X_FORWARDED_PROTO}" pattern="https" negate="true" />
            <add input="{HTTP_HOST}" pattern="^52.23.158.189:4040" negate="true" />
            <add input="{HTTP_HOST}" pattern="^3.222.170.44:4040" negate="true" />
            <add input="{HTTP_HOST}" pattern="^172.31.1.72:4040" negate="true" />
            <add input="{HTTP_HOST}" pattern="^localhost:7186" negate="true" />
            <add input="{HTTP_HOST}" pattern="^localhost:7186" negate="true" />
			<add input="{HTTP_HOST}" pattern="^localhost:4041" negate="true" />
            <add input="{HTTP_HOST}" pattern="^192.168.7.82:4040" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
      </rules>
      <outboundRules>
        <remove name="sync Outbound rule" />
        <rule name="Remove Server header">
          <match serverVariable="RESPONSE_Server" pattern=".+" />
          <action type="Rewrite" value="myserver" />
        </rule>
      </outboundRules>
    </rewrite>-->
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
				<add name="X-XSS-Protection" value="1; mode=block" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<!--Okta Config Start-->
	<!--
	    Okta Developer account
		    Url - https://dev-328912.okta.com/
	        User -  amit.trivedi@silvertouch.com
			Password - Test@1234
	-->
	<sustainsys.saml2 entityId="https://websvc.eturns.com/Trackstock/" returnUrl="https://websvc.eturns.com/Trackstock/">
		<identityProviders>
			<add entityId="https://sts.windows.net/d6b0474e-14ab-41bb-adbd-8c39f8f21582/"
				 signOnUrl="https://login.microsoftonline.com/d6b0474e-14ab-41bb-adbd-8c39f8f21582/saml2"
				 allowUnsolicitedAuthnResponse="true"
				 binding="HttpRedirect">
				<signingCertificate fileName="~/App_Data/MedlineSSO.cer"/>
			</add>
			<add entityId="http://www.okta.com/exkv0g8jy3Qc5zddy357"
				 signOnUrl="https://bse-iam.borderstates.com/app/exkv0g8jy3Qc5zddy357/sso/saml"
				 allowUnsolicitedAuthnResponse="true"
				 binding="HttpRedirect" >
				<signingCertificate fileName="~/App_Data/BorderStateOkta.cert"/>
			</add>
			<!--<add entityId="http://www.okta.com/exk1392ynmREZljKs5d7"
			 allowUnsolicitedAuthnResponse="true" 
			 binding="HttpRedirect" 
			 metadataLocation="https://dev-43191162.okta.com/app/exk1392ynmREZljKs5d7/sso/saml/metadata" 
			 loadMetadata="true">
			<signingCertificate fileName="~/App_Data/Medlinex.cer"/>
		</add>-->

			<add entityId="http://www.okta.com/exk6jtw85geFiKran4x7"
					 signOnUrl="https://dev-328912.okta.com/app/dev-328912_sttlsaml2_1/exk6jtw85geFiKran4x7/sso/saml"
					 allowUnsolicitedAuthnResponse="true" binding="HttpRedirect">
				<signingCertificate fileName="~/App_Data/okta-saml-509.cert" />
			</add>
			<add entityId="http://www.okta.com/exkbf0g2gqVCr88HZ5d7"
         allowUnsolicitedAuthnResponse="true" binding="HttpRedirect" metadataLocation="https://dev-23144322.okta.com/app/exkbf0g2gqVCr88HZ5d7/sso/saml/metadata" loadMetadata="true">
				<signingCertificate fileName="~/App_Data/okta_Trackstock.cert"/>
			</add>
			<!--<add entityId="https://stubidp.sustainsys.com/Metadata" signOnUrl="https://stubidp.sustainsys.com/" allowUnsolicitedAuthnResponse="true" binding="HttpRedirect">
        <signingCertificate fileName="~/App_Data/stubidp.sustainsys.com.cer"/>
      </add>-->
		</identityProviders>
		<federations>
			<add metadataLocation="https://dev-328912.okta.com/app/exk6jtw85geFiKran4x7/sso/saml/metadata" allowUnsolicitedAuthnResponse="false" />
		</federations>
		<!--<serviceCertificates>
			<add fileName="~/App_Data/Sustainsys.Saml2.Tests.pfx"/>
		</serviceCertificates>-->
	</sustainsys.saml2>


	<!--<sustainsys.saml2 entityId="https://websvc.eturns.com/TrackstockSSO/" returnUrl="https://localhost:44369/OktaClient/OktaLoginSuccess">
		<identityProviders>
			<add entityId="http://www.okta.com/exkv0g8jy3Qc5zddy357"
				 signOnUrl="https://bse-iam.borderstates.com/app/exkv0g8jy3Qc5zddy357/sso/saml"
				 allowUnsolicitedAuthnResponse="true" binding="HttpRedirect">
				<signingCertificate fileName="~/App_Data/BorderStateOkta.cert" />
			</add>
			--><!-- <add entityId="https://myIDPID" metadataLocation="~/App_Data/IDPConfig.xml" signOnUrl="https://MyIDPSignonUrl" allowUnsolicitedAuthnResponse="true" loadMetadata="true"   metadataLocation="~/App_Data/Medline.xml" loadMetadata="true"/> --><!--
		</identityProviders>
		<federations>
			<add metadataLocation="https://websvc.eturns.com/TrackstockSSO/Federation" allowUnsolicitedAuthnResponse="true"/>
		</federations>
		<serviceCertificates>
			<add fileName="~/App_Data/Sustainsys.Saml2.Tests.pfx"/>
		</serviceCertificates>

	</sustainsys.saml2>-->
	<system.identityModel.services>
		<federationConfiguration>
			<cookieHandler requireSsl="false" name="STTLSAMLOkta" />
		</federationConfiguration>
	</system.identityModel.services>
	<!--Okta Config end-->
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.net>
		<defaultProxy enabled="true" useDefaultCredentials="true">
		</defaultProxy>
		<mailSettings>
			<smtp from="sapphire@eturns.com" deliveryMethod="Network">
				<network defaultCredentials="false" host="smtp.gmail.com" password="1357Tunes" port="587" userName="sapphire@eturns.com" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
