@{
    ViewBag.Title = "DemoDTJq";
}
@section scripts{
    <script type="text/javascript">
        var gridSource = new Array();
        var tblUsers;
        $(document).ready(function () {
            tblUsers = $('#DatatableArr').dataTable({
                //"data": JSON.stringify(gridSource),
                "aaData": gridSource,
                "columns": [
                    { "mDataProp": "FirstName" },
                    { "mDataProp": "LastName" },
                    { "mDataProp": "IsActive" },
                    {
                        "mDataProp": null, "fnRender": function (obj, val) {
                            debugger;
                            return "<a>Delete</a>";
                        }
                    }
                ]
            });

            $("#btnAdd").click(function () {
                tblUsers.fnAddData(['dsaf', 'dsaf', 'dszafdsafds', '<a>Delete</a>','dsafdsafdsafdsafdsafdsa']);
            });

        });

    </script>
}

<div class="userListingWrapper">
    <h2>
        @eTurns.DTO.ResBin.PageHeader
    </h2>
    <div class="Infoclass">
        <a href="~/Uploads/HelpDoc/InventoryLocation.pdf" target="_blank">
            <img src="~/Content/images/Info.png" alt="Help" />
        </a>
    </div>
    <div class="userListBlock">
        <div id="Ctab" class="tabContener">
            <div class="userContent">
                <table id="DatatableArr" class="display">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last name</th>
                            <th>IsActive</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <input type="button" id="btnAdd" name="btnAdd" value="Add new Row" />
            </div>
        </div>

    </div>
</div>
