@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GenericError</title>
</head>
<body>
    <div>
        <div style="width:100%;">
            <img src="~/Content/images/GenericError.png" alt="Under Construction" style="width:100%;" />
            
            <input type="text" name="name" value=" " />
        </div>

    </div>
</body>
</html>
<script>

    $("#DIVID").load("/Account/AccountDetails/2", function () {


    });

</script>
