
@{
    ViewBag.Title = "Past Schedules";
    System.Data.DataSet ds = eTurns.DAL.SqlHelper.ExecuteDataset(eTurns.DAL.DbConnectionHelper.GeteTurnsSQLConnectionString(eTurnsWeb.Helper.SessionHelper.EnterPriseDBName, eTurns.DAL.DbConnectionType.GeneralReadWrite.ToString("F")), "GetAllPastSchedules");
    System.Data.DataTable dtSchedules = new System.Data.DataTable();
    if (ds != null && ds.Tables[0] != null && ds.Tables[0].Rows.Count > 0)
    {
        dtSchedules = ds.Tables[0];
    }

}

@section head{

}

<div class="userListingWrapper">
    <h2>
        @eTurns.DTO.ResBin.PageHeader
    </h2>

    <div class="userListBlock">
        <div id="Ctab" class="tabContener" style="width:99%;">
            <div class="searchWrapper">
                <div class="searchBlock">
                    <span class="label">@eTurns.DTO.Resources.ResCommon.Search</span>
                    <div class="searchinputB">
                        <input type="text" class="searchinput" id="global_filter" />
                        <a href="javascript:void(0);" class="xclose">
                            <img src="~/Content/images/x.png" alt="X" id="clear_global_filter" />
                        </a>
                    </div>

                </div>
                <input type="button" id="btnDiv" value="Div" style="visibility: hidden" />
            </div>
            <div class="userContent">
                @if (dtSchedules.Rows.Count > 0)
                {
                    <table id="myDataTable12" class="display">
                        <thead>
                            <tr>
                                @foreach (var item in dtSchedules.Columns)
                                {
                                    <th>
                                        @item.ToString()
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (System.Data.DataRow dr in dtSchedules.Rows)
                            {
                                <tr>
                                    @foreach (var dc in dtSchedules.Columns)
                                    {
                                        <td>@Convert.ToString(dr[dc.ToString()])</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p style="font-size:20px;">No Schedule are in Past right now</p>
                }
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $("#myDataTable12").dataTable();
    });

</script>

