@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageNotFound</title>
</head>
<body>
    <div>
        <div style="width:100%;">
            <img src="~/Content/images/PageNotFound.png" alt="Under Construction" style="width:100%;" />
        </div>

    </div>
</body>
</html>
