@model eTurns.DTO.UserAccessDTO
@{
    ViewBag.Title = "Index";
}
<table border="0">
    <tr>
        <td>
            Room
        </td>
        <td>
            @{
                Dictionary<string, string> dictionary = new Dictionary<string, string>();
                dictionary.Add("", "");
                dictionary.Add("Room 1", "1");
                dictionary.Add("Room 2", "2");
                dictionary.Add("Room 3", "3");
                SelectList list = new SelectList(dictionary, "value", "key", "I");
            }
            @Html.DropDownList("name", list)
        </td>
    </tr>
    <tr>
        <td>
            Created
        </td>
        <td>
           @Html.TextBox("txtCreated", (string)eTurns.DAL.DateTimeUtility.DateTimeNow.ToString(), new { @style = "width: 200px;", @id = "LastName" })
        </td>
    </tr>
    <tr>
        <td>
            Updated
        </td>
        <td>
            @*@Html.TextBox(DateTime.Now.ToString())*@
                @Html.TextBox("txtUpdated", (string)eTurns.DAL.DateTimeUtility.DateTimeNow.ToString(), new { @style = "width: 200px;", @id = "LastName" })
        </td>
    </tr>
    <tr>
        <td>
            User
        </td>
        <td>
            @Html.TextBox("txtname",(string)"Virat",new { @style = "width: 200px;", @id = "LastName" })
        </td>
    </tr>
    <tr>
        <td>
            <input id="btnAdd" type="button" value="Add" />
        </td>
        <td>
            <input id="btnEdit" type="button" value="Cancel" />
        </td>
    </tr>
</table>
