<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<!-- START | All user defined Keys | START -->
		<add key="IsDebuggerAttached" value="false" />
		<add key="SiteSettingspath" value="D:\WebSites\eTurns4040\SiteSettings.xml" />
		<add key="JsonSiteSettingFilePath" value="D:\Projects\eTurns\Trunk\eTurns.TrackStock\eTurnsWeb\SiteSettings.json" />
		<add key="LogDirectory" value="errorLogDirectory" />
		<add key="eTurnsResourceDBName" value="eTurnsResource" />

		<!-- END | All user defined Keys | END -->
		<!-- START | Database Connection | START -->
		<add key="DBproviderName" value="System.Data.SqlClient" />
		<add key="DBserverName" value="DESKTOP-LV6DASV" />
		<add key="DBFailoverPartner" value="DESKTOP-LV6DASV" />
		<add key="DbUserName" value="sa" />
		<add key="DbPassword" value="ibm@@123" />
		<!-- END | Database Connection | END -->
		<!-- START | Template Databses and Dedicated Databases | START -->
		<add key="TemplateDbName" value="eTurns" />
		<add key="MasterDBName" value="eTurnsMaster" />
		<add key="eTurnsQuickBookDBName" value="eTurnsQuickBook" />
		<add key="AESKey" value="BfO5+KjFPSzdigCyhwSoZbGn0Gdppbuuehy5Tar39ic=" />
		<add key="AESIv" value="Ji/lM41xFH6iKTCmcM6aPg==" />

	</appSettings>
</configuration>
