@{
    ViewBag.Title = "DeleteUDF";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="userListingWrapper">
    <h2>
        Delete UDF
    </h2>
    <div class="userListBlock">
        <div id="Ctab" class="tabContener" style="display: block; width: 100%;">
            <div class="editorForm">
                <ul>
                    <li>
                        <div class="editor-label">
                            <input type="checkbox" id="chkDelete" />
                            <label>
                                Delete UDF from All resources
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="editor-label">
                            <input type="button" style="float: left;" value="Delete PDF" class="CreateBtn" id="btndelete" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {

        $('#btndelete').click(function (e) {
            $('#DivLoading').show();
            var chkDeleteUDF = $('#chkDelete').is(':checked');
            $.ajax({
                url: '@Url.Content("~/UDF/DeleteUDF")',
                data: JSON.stringify({ 'chkDeleteUDF': chkDeleteUDF }),
                dataType: 'json',
                contentType: 'application/json',
                type: 'POST',
                async: false,
                cache: false,
                success: function (result) {
                    $('#DivLoading').hide();
                    alert(result.Message);
                },
                error: function (result) {
                    $('#DivLoading').hide();
                    alert('@ResCommon.ErrorInProcess');
                }
            });
        });
    });
</script>

