@model eTurns.DTO.ScriptTemplate
@{
    ViewBag.Title = "Execute Stored Procedure";

}

<style>
  
</style>

<div class="userListingWrapper">
    <h2>
       Save Resources
    </h2>
    <div class="userListBlock1">
        <div id="Ctab" class="tabContener" style="display: block;">
            <div>
               <br />
                <div style="float:left;">
                    <span>Enter Prise List</span>
                    @Html.DropDownListFor(model => model.EnterPriceDB, new SelectList(ViewBag.EnterPriseList, "enterpriseDBName", "Name"), new { @class = "selectBox" })
                    @Html.HiddenFor(model => model.SelectedDB, new { @id = "selectedDBS" })
                </div>
                <div >
                    <input type="submit" id="Save Resource" style="float:left;"  onclick="return setDBName(); "
                           value="Submit Query" />
                </div>
            </div>
            <br />
            <br />

        </div>

    </div>
</div>

<script>
    var UserCreatedNarroValues = ''
    $(document).ready(function () {
        $("#EnterPriceDB").multiselect
            (
                {
                    noneSelectedText: 'Enterprise:', selectedList: 5,
                    selectedText: function (numChecked, numTotal, checkedItems) {
                        return 'Enterprise:' + ' ' + numChecked + ' ' + 'selected';
                    }
                },
                {
                    checkAll: function (ui) {
                        $("#EntepriseCollapse").html('');
                        for (var i = 0; i <= ui.target.length - 1; i++) {
                            if ($("#EntepriseCollapse").text().indexOf(ui.target[i].text) == -1) {
                                $("#EntepriseCollapse").append("<span>" + ui.target[i].text + "</span>");
                            }
                        }
                        $("#EntepriseCollapse").hide();
                    }
                }
            )
            .bind("multiselectclick multiselectcheckall multiselectuncheckall", function (event, ui) {
                if (ui.checked) {
                    if ($("#EntepriseCollapse").text().indexOf(ui.text) == -1) {
                        $("#EntepriseCollapse").append("<span>" + ui.text + "</span>");
                    }
                }
                else {
                    if (ui.checked == undefined) {
                        $("#EntepriseCollapse").html('');
                    }
                    else if (!ui.checked) {
                        var text = $("#EntepriseCollapse").html();
                        text = text.replace("<span>" + ui.text + "</span>", '');
                        $("#EntepriseCollapse").html(text);
                    }
                    else
                        $("#EntepriseCollapse").html('');
                }
                UserCreatedNarroValues = $.map($(this).multiselect("getChecked"), function (input) {
                    return input.value;
                })

                if ($("#EntepriseCollapse").text().trim() != '')
                    $("#EntepriseCollapse").hide();
                else
                    $("#EntepriseCollapse").hide();


                if ($("#EntepriseCollapse").find('span').length <= 2) {
                    $("#EntepriseCollapse").scrollTop(0).height(50);
                }
                else {
                    $("#EntepriseCollapse").scrollTop(0).height(100);
                }
            }).multiselectfilter();

    });
    function setDBName() {
        setDBNameNew();
        var EnterpriseId = $("input#selectedDBS").val();//$("select#EnterPriceDB").val();

        $.ajax({
            url: "SaveNewlyAddedUDFKey?EnterpriseIDNew=" + EnterpriseId,
            type: "POST",
            
            contentType: "application/json;",
            async: false,
            success: function (data) {
                alert(data);
                
            },
            error:function(xhr)
            {
                alert(xhr.status);
            }

        });

        return false;
    }
    function setDBNameNew() {
        var DBList = '';

        //$("ul.ui-multiselect-checkboxes li").each(function () {

        //    if ($(this).find("input[type=checkbox]").is(":checked")) {
        //        DBList += "," + $(this).find("input[type=checkbox]").val();
        //    }

        //});
        $("input#selectedDBS").val(UserCreatedNarroValues);


        //return confirm('Are You sure want to proceed?');
    }
</script>
