@model  eTurns.DTO.UDFDTO
@{
    ViewBag.Title = ResUDFSetup.PageTitleUDFSetUp;
}

<h2>@ResUDFSetup.PageHeaderUDFSetUp</h2>

<div class="userHead">
    <div class="mainForm">
        <div class="editorForm">
            <h4>@eTurns.DTO.ResItemMaster.GeneralDetails</h4>
            <ul>
                <li>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.UDFTableName)

                    </div>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.UDFTableName, new SelectList(ViewBag.UDFTableListName, "Key", "Value"), "", new { @class = "selectBox", @id = "dlUDFTableName" })
                    </div>
                </li>
            </ul>
        </div>

    </div>
    </div>