@using eTurnsWeb.Controllers
@using eTurnsWeb.Helper
@{
    string title = ResDashboard.Consume;

    var obj = new eTurns.DAL.ModuleMasterDAL(eTurnsWeb.Helper.SessionHelper.EnterPriseDBName);
}
<div id="Consume" class="portlet ui-widget-content ui-helper-clearfix ui-corner-all">
    <div class="portlet-header ui-widget-header ui-corner-top">
        <span class="forcolor">@title</span><a href="#" class="closeEl ui-icon ui-icon-triangle-1-n"></a>
    </div>
    <div class="portlet-content">
        <div id="dvConsume">
            <div style="float: left; width: 100%;">
                 @{ Html.RenderPartial("Consumedbpartial");}
            </div>
        </div>
    </div>
</div>
