<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<!-- START | All user defined Keys | START -->
		<add key="IsDebuggerAttached" value="false" />
		<add key="TimerIntervalMS" value="5000" />
		<add key="Currculture" value="en-US" />
		<add key="LogDirectory" value="errorLogDirectory" />
		<add key="redisCacheEndPoint" value="serverless-test-cache-gddcfo.serverless.use1.cache.amazonaws.com:6379,ssl=True,sslprotocols=tls12" />

		<!-- START | Database Connection | START -->
		<add key="DBproviderName" value="System.Data.SqlClient"/>
		<add key="DBserverName" value="192.168.7.57"/>
		<add key="DBFailoverPartner" value="192.168.7.57"/>
		<add key="DbUserName" value="sa"/>
		<add key="DbPassword" value="ibm@@123"/>
		<!--<add key="DBproviderName" value="System.Data.SqlClient" />
    <add key="DBserverName" value="172.31.61.227" />
    <add key="DBFailoverPartner" value="172.31.61.227" />
    <add key="DbUserName" value="sa" />
    <add key="DbPassword" value="xE&amp;rupH7Fru@e5u" />-->

		<!-- END | Database Connection | END -->
		<!-- START | Template Databses and Dedicated Databases | START -->
		<add key="MasterDBName" value="eTurnsMaster" />
	</appSettings>
	
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>