@{
    ViewBag.Title = "QuickBook Setup Info";
}
<div class="userListingWrapper">
    <h2>
        QuickBook Setup Info
    </h2>
    <div class="userListBlock">
        <div id="Ctab" class="tabContener" style="display: block;">
            @Html.AntiForgeryToken()
            <div class="userHead">
                <div class="editorForm">
                    <ul>
                        <li>
                            <div class="editor-label">
                                Setup Info <em></em>
                            </div>
                            <div class="editor-field">
                                @{ if (ViewBag.AccessToken == "Success" && ViewBag.AuthError == string.Empty)
                                    {
                                        <p>Connection successful!</p>
                                    }
                                    else if(ViewBag.AuthError != null)
                                    {
                                        <p>Error ! @ViewBag.AuthError</p>
                                    }
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

