@model ItemMasterDTO
<table style="width: 100%">
    <thead>
        <tr>
            <td>
                Item Number
            </td>
            <td>
                @Model.ItemNumber
            </td>
            <td>
                Max Credit Limit
            </td>
            <td>
                50.00
            </td>
            <td>
                Total Number of pull Qty.
            </td>
            <td>
                70.00
            </td>
        </tr>
    </thead>
</table>
