@{
    Layout = null;
}
<!DOCTYPE html>
<link href="~/Content/Login.css" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
</head>
<body>
    <div class="wrapper">
        <div id="container" class="clearfix">
            <!-- header starts -->
            <div id="header" class="clearfix">
                <!-- logo starts -->
                <h1 id="logo" class="alignLeft">
                    <a href="#" rel="home" title="eTurns">
                        <img src="@Url.Content("~/Content/images/logo-Login.jpg")" alt="eTurns" title="eTurns" />
                    </a>
                </h1>
                <!-- logo ends -->
            </div>
            <!-- header ends -->
            <!-- content starts -->
            <div id="contentWrap" class="clearfix">
                <!-- main content starts -->
                <div class="content">
                    <h1>
                        Inventory Management System
                    </h1>
                    <div class="mainGreybg">
                        <div class="loginBg">
                            <div class="loginContent alignLeft">
                                <div class="login alignLeft">
                                    <h2 class="alignLeft">
                                        Forgot Password
                                    </h2>
                                    <div class="loginForm clear">
                                        <ul>
                                            <li>
                                                <div id="ErrorMSG" style="color: Red">
                                                </div>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li><span>User Name:</span>
                                                <input type="text" class="inputtext" value="" id="txtUserName" />
                                            </li>
                                            <li>
                                                <input style="margin-left: 28%; margin-top: 4%;" type="submit" class="searchBtn"
                                                    value="Send" id="btnSend" />
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- main content ends -->
            </div>
            <!-- content ends -->
        </div>
        <!-- footer starts -->
        <div id="footer" class="clearfix">
            <div class="copyright">
                &copy; Copyright © @System.DateTime.Now.Year.ToString() eTurns.com. All rights reserved.
            </div>
        </div>
        <!-- footer ends -->
    </div>
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('#btnSend').click(function (e) {
                if ($("#txtUserName").val() == '') {
                    $("#ErrorMSG").html('User Name  is mandatory');
                    return false;
                }
                $.ajax({
                    type: "POST",
                    url: "/EmailLink/SendPassword",
                    data: "{'UserName': '" + $("#txtUserName").val() + "' }",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (message) {
                        if (message.Message == "ok") {
                            $("#ErrorMSG").html('Your password send successfully.');
                        }
                        else {
                            $("#ErrorMSG").html('Invalid user.');
                        }

                    },
                    error: function (response) {
                        // through errror message
                    }
                });
            });
        });
    </script>
</body>
</html>
