@model eTurns.DTO.CommonDTO
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TransferApproved</title>
</head>
<body>
    <div>
        @Model.Text
    </div>
</body>
</html>
