
@{
    ViewBag.Title = "HelpVideoList";
}
<div class="userListingWrapper">


    <div class="videoSection">

        <ul class="videoList">
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=vXMbrYCaq1k" class="videoPopupLink" title="How to search the Amazon catalog and add items to your item list">
                            <div class="imgHolder">
                                <img src="~/Content/images/Quickstart-Guide-video1.jpg" width="421" height="285" alt="How to search the Amazon catalog and add items to your item list">
                            </div>
                            <div class="galleryTitle"><span>How to search the Amazon catalog and add items to your item list</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=nZ5KT24vN3M" class="videoPopupLink" title="How to add items from your Amazon order history into your TrackStock item list">
                            <div class="imgHolder">
                                <img src="~/Content/images/Quickstart-Guide-video2.jpg" width="421" height="285" alt="How to add items from your Amazon order history into your TrackStock item list">
                            </div>
                            <div class="galleryTitle"><span>How to add items from your Amazon order history into your TrackStock item list</span></div>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <h2>
            Replenish Plan Videos
        </h2>
        <ul class="videoList">
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=rOLpZ2TETVs" class="videoPopupLink" title="Getting the Mobile App from App Store">
                            <div class="imgHolder">
                                <img src="~/Content/images/ReplenishPlanVideos1.jpg" width="421" height="285" alt="Getting the Mobile App from App Store">
                            </div>
                            <div class="galleryTitle"><span>Getting the Mobile App from App Store</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=YzQx0NjkVqQ" class="videoPopupLink" title="Logging into TrackStock on the Mobile App">
                            <div class="imgHolder">
                                <img src="~/Content/images/ReplenishPlanVideos2.jpg" width="421" height="285" alt="Logging into TrackStock on the Mobile App">
                            </div>
                            <div class="galleryTitle"><span>Logging into TrackStock on the Mobile App</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=mKbgDygl4_4" class="videoPopupLink" title="Create an Order on the Mobile App">
                            <div class="imgHolder">
                                <img src="~/Content/images/ReplenishPlanVideos3.jpg" width="421" height="285" alt="Create an Order on the Mobile App">
                            </div>
                            <div class="galleryTitle"><span>Create an Order on the Mobile App</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=MLVlZcCAa3w" class="videoPopupLink" title="Create cycle counts on the Mobile App">
                            <div class="imgHolder">
                                <img src="~/Content/images/ReplenishPlanVideos4.jpg" width="421" height="285" alt="Create cycle counts on the Mobile App">
                            </div>
                            <div class="galleryTitle"><span>Create cycle counts on the Mobile App</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=wAJwuyXAxGA" class="videoPopupLink" title="Add items to the Cart on the Mobile App">
                            <div class="imgHolder">
                                <img src="~/Content/images/ReplenishPlanVideos5.jpg" width="421" height="285" alt="Add items to the Cart on the Mobile App">
                            </div>
                            <div class="galleryTitle"><span>Add items to the Cart on the Mobile App</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=Sm5Fju9XEsE" class="videoPopupLink" title="Add a new Item on the web">
                            <div class="imgHolder">
                                <img src="~/Content/images/ReplenishPlanVideos6.jpg" width="421" height="285" alt="Add a new Item on the web">
                            </div>
                            <div class="galleryTitle"><span>Add a new Item on the web</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=sh1mhaZk_Ow" class="videoPopupLink" title="Import a list of new items">
                            <div class="imgHolder">
                                <img src="~/Content/images/ReplenishPlanVideos7.jpg" width="421" height="285" alt="Import a list of new items">
                            </div>
                            <div class="galleryTitle"><span>Import a list of new items</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=0Z15m1EHH8I" class="videoPopupLink" title="Add-edit Mins-Maxs to 1 or many items">
                            <div class="imgHolder">
                                <img src="~/Content/images/ReplenishPlanVideos8.jpg" width="421" height="285" alt="Add-edit Mins-Maxs to 1 or many items">
                            </div>
                            <div class="galleryTitle"><span>Add-edit Mins-Maxs to 1 or many items</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=XjuZlkCZsf0" class="videoPopupLink" title="Design Bar Code Label">
                            <div class="imgHolder">
                                <img src="~/Content/images/ReplenishPlanVideos9.jpg" width="421" height="285" alt="Design Bar Code Label">
                            </div>
                            <div class="galleryTitle"><span>Design Bar Code Label</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=OCoatKHReQY" class="videoPopupLink" title="How to print bar code labels">
                            <div class="imgHolder">
                                <img src="~/Content/images/ReplenishPlanVideos10.jpg" width="421" height="285" alt="How to print bar code labels">
                            </div>
                            <div class="galleryTitle"><span>How to print bar code labels</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=CVt_tokZCUw" class="videoPopupLink" title="How to create Orders">
                            <div class="imgHolder">
                                <img src="~/Content/images/ReplenishPlanVideos11.jpg" width="421" height="285" alt="How to create Orders">
                            </div>
                            <div class="galleryTitle"><span>How to create Orders</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=rWekgt7JtJ8" class="videoPopupLink" title="Create Orders from items in Cart">
                            <div class="imgHolder">
                                <img src="~/Content/images/ReplenishPlanVideos12.jpg" width="421" height="285" alt="Create Orders from items in Cart">
                            </div>
                            <div class="galleryTitle"><span>Create Orders from items in Cart</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=5u-WKcz2KrA" class="videoPopupLink" title="Create a Cycle Count">
                            <div class="imgHolder">
                                <img src="~/Content/images/ReplenishPlanVideos13.jpg" width="421" height="285" alt="Create a Cycle Count">
                            </div>
                            <div class="galleryTitle"><span>Create a Cycle Count</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=kbDMGG2BxMc" class="videoPopupLink" title="Create Reports">
                            <div class="imgHolder">
                                <img src="~/Content/images/ReplenishPlanVideos14.jpg" width="421" height="285" alt="Create Reports">
                            </div>
                            <div class="galleryTitle"><span>Create Reports</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=TCwSMhYvkic" class="videoPopupLink" title="Use Alert Dashboard">
                            <div class="imgHolder">
                                <img src="~/Content/images/ReplenishPlanVideos15.jpg" width="421" height="285" alt="Use Alert Dashboard">
                            </div>
                            <div class="galleryTitle"><span>Use Alert Dashboard</span></div>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <h2>
            Manage Lite Plan Videos
        </h2>
        <ul class="videoList">
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=FbMlf7lRycU" class="videoPopupLink" title="Create a Pull without UDFs on the Mobile App">
                            <div class="imgHolder">
                                <img src="~/Content/images/manageLitePlanVideos1.jpg" width="421" height="285" alt="Create a Pull without UDFs on the Mobile App">
                            </div>
                            <div class="galleryTitle"><span>Create a Pull without UDFs on the Mobile App</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=va9gXFDVJuQ" class="videoPopupLink" title="Create a Receive on the Mobile App">
                            <div class="imgHolder">
                                <img src="~/Content/images/manageLitePlanVideos2.jpg" width="421" height="285" alt="Create a Receive on the Mobile App">
                            </div>
                            <div class="galleryTitle"><span>Create a Receive on the Mobile App</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=b2gJMq1BjVE" class="videoPopupLink" title="Create a Receive">
                            <div class="imgHolder">
                                <img src="~/Content/images/manageLitePlanVideos3.jpg" width="421" height="285" alt="Create a Receive">
                            </div>
                            <div class="galleryTitle"><span>Create a Receive</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=-P1yJyDC3cA" class="videoPopupLink" title="Create an email alert">
                            <div class="imgHolder">
                                <img src="~/Content/images/manageLitePlanVideos4.jpg" width="421" height="285" alt="Create an email alert">
                            </div>
                            <div class="galleryTitle"><span>Create an email alert</span></div>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <h2>
            Manage Plan Videos
        </h2>
        <ul class="videoList">
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=zvv-qzcIn7M" class="videoPopupLink" title="Create a Pull with UDFs on the Mobile App">
                            <div class="imgHolder">
                                <img src="~/Content/images/managePlanVideos1.jpg" width="421" height="285" alt="Create a Pull with UDFs on the Mobile App">
                            </div>
                            <div class="galleryTitle"><span>Create a Pull with UDFs on the Mobile App</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=WMsBkM8sqHs" class="videoPopupLink" title="Create a Pull without UDFs on the Mobile App">
                            <div class="imgHolder">
                                <img src="~/Content/images/managePlanVideos2.jpg" width="421" height="285" alt="Create a Pull without UDFs on the Mobile App">
                            </div>
                            <div class="galleryTitle"><span>Create a Pull without UDFs on the Mobile App</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=MiqYJdp5VdI" class="videoPopupLink" title="Create a Work Order with UDFs on the Mobile App">
                            <div class="imgHolder">
                                <img src="~/Content/images/managePlanVideos3.jpg" width="421" height="285" alt="Create a Work Order with UDFs on the Mobile App">
                            </div>
                            <div class="galleryTitle"><span>Create a Work Order with UDFs on the Mobile App</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=gDHR8T8RVrs" class="videoPopupLink" title="Create a Transfer Request on the Mobile App">
                            <div class="imgHolder">
                                <img src="~/Content/images/managePlanVideos4.jpg" width="421" height="285" alt="Create a Transfer Request on the Mobile App">
                            </div>
                            <div class="galleryTitle"><span>Create a Transfer Request on the Mobile App</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=fqEzgHBGMCc" class="videoPopupLink" title="Setup and use User Defined Fields UDFs">
                            <div class="imgHolder">
                                <img src="~/Content/images/managePlanVideos5.jpg" width="421" height="285" alt="Setup and use User Defined Fields UDFs">
                            </div>
                            <div class="galleryTitle"><span>Setup and use User Defined Fields UDFs</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=8H4YHXrjOU4" class="videoPopupLink" title="Create and use a Quick List">
                            <div class="imgHolder">
                                <img src="~/Content/images/managePlanVideos6.jpg" width="421" height="285" alt="Create and use a Quick List">
                            </div>
                            <div class="galleryTitle"><span>Create and use a Quick List</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=QSpzYJInMrI" class="videoPopupLink" title="Create and use Material Staging">
                            <div class="imgHolder">
                                <img src="~/Content/images/managePlanVideos7.jpg" width="421" height="285" alt="Create and use Material Staging">
                            </div>
                            <div class="galleryTitle"><span>Create and use Material Staging</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=9XohKK0MBZQ" class="videoPopupLink" title="Move Material from one bin location to another">
                            <div class="imgHolder">
                                <img src="~/Content/images/managePlanVideos8.jpg" width="421" height="285" alt="Move Material from one bin location to another">
                            </div>
                            <div class="galleryTitle"><span>Move Material from one bin location to another</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=HTbsZ5rXpOg" class="videoPopupLink" title="Customize a report">
                            <div class="imgHolder">
                                <img src="~/Content/images/managePlanVideos9.jpg" width="421" height="285" alt="Customize a report">
                            </div>
                            <div class="galleryTitle"><span>Customize a report</span></div>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <h2>
            Optimize Plan Videos
        </h2>
        <ul class="videoList">
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=yxUZOL0dSSE" class="videoPopupLink" title="Create a Requisition on the mobile">
                            <div class="imgHolder">
                                <img src="~/Content/images/optimizePlanVideo1.jpg" width="421" height="285" alt="Create a Requisition on the mobile">
                            </div>
                            <div class="galleryTitle"><span>Create a Requisition on the mobile</span></div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="galleryzoom ">
                    <div class="galleryBox image">
                        <a href="https://www.youtube.com/watch?v=mSJkdtgQ2jk" class="videoPopupLink" title="Check out and Check in Tools">
                            <div class="imgHolder">
                                <img src="~/Content/images/optimizePlanVideo2.jpg" width="421" height="285" alt="Check out and Check in Tools">
                            </div>
                            <div class="galleryTitle"><span>Check out and Check in Tools</span></div>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
<script src="~/Scripts/magnific.js"></script>
<script type="text/javascript">
    // Video Popup JS
    $(document).ready(function () {
        if ($('.videoPopupLink').length) {
            $('.videoPopupLink').magnificPopup({
                type: 'iframe',
            });
        }
    });
</script>
