
@{
    ViewBag.Title = "HelpVideoList";
}
<div class="userListingWrapper">


    <div class="videoSection">
        <div class="helpLeftLinks">
            <ul>
                <li><a href="/HelpDocument/QuickStartGuide">QuickStart Guide</a></li>
                <li><a href="/HelpDocument/ProductTour">Product Tour</a></li>
                <li><a href="/HelpDocument/HowToVideos" class="active">How to Video</a></li>
                <li><a href="/HelpDocument/HelpDocs">Help Documents</a></li>
            </ul>
        </div>

        <h2>
            How to Video
        </h2>

        <h3>How To Use TrackStock </h3>





        <div class="accordion">
            <div class="accTrigger">Getting and installing the mobile app</div>
            <div class="accordDetail">
                <ul class="bulletText">
                    <li>Getting the TrackStock mobile app in the App Store. <a href="https://www.youtube.com/watch?v=rOLpZ2TETVs" class="videoPopupLink">Watch in 45 sec</a></li>
                    <li>Logging in to TrackStock on the mobile app. <a href="https://www.youtube.com/watch?v=YzQx0NjkVqQ" class="videoPopupLink">Watch in 59 sec</a></li>
                </ul>

            </div>
            <div class="accTrigger">TrackStock Replenish Plan</div>
            <div class="accordDetail">
                <h3>Mobile</h3>
                <ul class="bulletText">
                    <li>
                        Create an order on the mobile app. <a href="https://www.youtube.com/watch?v=mKbgDygl4_4" class="videoPopupLink">Watch in 2:01 min</a>
                    </li>
                    <li>
                        Create cycle counts on the mobile app. <a href="https://www.youtube.com/watch?v=MLVlZcCAa3w" class="videoPopupLink">
                            Watch in 2:37 min
                        </a>
                    </li>
                    <li>

                        Add items to the cart on the mobile app. <a href="https://www.youtube.com/watch?v=wAJwuyXAxGA" class="videoPopupLink">
                            Watch in 2:32 min
                        </a>
                    </li>
                </ul>
                <h3>Web</h3>
                <ul class="bulletText">
                    <li>

                        Add a new item to the item list. <a href="https://www.youtube.com/watch?v=Sm5Fju9XEsE" class="videoPopupLink">
                            Watch in 2:54 min
                        </a>
                    </li>
                    <li>

                        Import a list of new items. <a href="https://www.youtube.com/watch?v=sh1mhaZk_Ow" class="videoPopupLink">
                            Watch in 4:45 min
                        </a>
                    </li>
                    <li>

                        Add mins/maxes to one or many items. <a href="https://www.youtube.com/watch?v=0Z15m1EHH8I" class="videoPopupLink">
                            Watch in 4:03 min.
                        </a>
                    </li>
                    <li>

                        Design barcode labels. <a href="https://www.youtube.com/watch?v=XjuZlkCZsf0" class="videoPopupLink">
                            Watch in 5:07 min.
                        </a>
                    </li>
                    <li>

                        Create orders. <a href="https://www.youtube.com/watch?v=CVt_tokZCUw" class="videoPopupLink">
                            Watch in 2:56 min.
                        </a>
                    </li>
                    <li>

                        Create orders from items in the cart. <a href="https://www.youtube.com/watch?v=rWekgt7JtJ8" class="videoPopupLink">
                            Watch in 2:04 min.
                        </a>
                    </li>
                    <li>

                        Create a cycle count. <a href="https://www.youtube.com/watch?v=5u-WKcz2KrA" class="videoPopupLink">
                            Watch in 3:01 min
                        </a>
                    </li>
                    <li>

                        Create reports. <a href="https://www.youtube.com/watch?v=kbDMGG2BxMc" class="videoPopupLink">
                            Watch in 3:14 min
                        </a>
                    </li>
                    <li>

                        Use the Alert Dashboard. <a href="https://www.youtube.com/watch?v=TCwSMhYvkic" class="videoPopupLink">
                            Watch in 6:31 min
                        </a>
                    </li>
                </ul>


            </div>
            <div class="accTrigger">TrackStock Manage Lite Plan (Includes all Replenish features)</div>
            <div class="accordDetail">
                <h3>Mobile</h3>
                <ul class="bulletText">
                    <li>

                        Create a Pull without UDFs on the Mobile App. <a href="https://www.youtube.com/watch?v=FbMlf7lRycU" class="videoPopupLink">
                            Watch in 3:04 min
                        </a>
                    </li>
                    <li>

                        Create a Receive on the Mobile App. <a href="https://www.youtube.com/watch?v=va9gXFDVJuQ" class="videoPopupLink">
                            Watch in 1:38 min
                        </a>
                    </li>
                </ul>
                <h3>Web</h3>
                <ul class="bulletText">
                    <li>
                        Create a Pull without UDFs <a href="https://www.youtube.com/watch?v=a9pHdsxKIc8" class="videoPopupLink">
                            Watch in 01:19 min
                        </a>
                    </li>
                    <li>
                        Create a receive <a href="https://www.youtube.com/watch?v=b2gJMq1BjVE" class="videoPopupLink">
                            Watch in 03:28 min
                        </a>
                    </li>
                    <li>
                        Create an email alert <a href="https://www.youtube.com/watch?v=-P1yJyDC3cA" class="videoPopupLink">
                            Watch in 03:43 min
                        </a>
                    </li>
                </ul>
            </div>
            <div class="accTrigger">TrackStock Manage Plan (Includes all Manage Lite features)</div>
            <div class="accordDetail">
                <h3>Mobile</h3>
                <ul class="bulletText">
                    <li>
                        Create a Pull with UDFs on the Mobile App <a href="https://www.youtube.com/watch?v=zvv-qzcIn7M" class="videoPopupLink">
                            Watch in 05:34 min
                        </a>
                    </li>
                    <li>
                        Create a Pull without UDFs on the Mobile App <a href="https://www.youtube.com/watch?v=WMsBkM8sqHs" class="videoPopupLink">
                            Watch in 03:05 min
                        </a>
                    </li>
                    <li>
                        Create a Work Order with UDFs on the Mobile App <a href="https://www.youtube.com/watch?v=MiqYJdp5VdI" class="videoPopupLink">
                            Watch in 01:59 min
                        </a>
                    </li>
                    <li>
                        Create a Transfer Request on the Mobile App  <a href="https://www.youtube.com/watch?v=gDHR8T8RVrs" class="videoPopupLink">
                            Watch in 02:06 min
                        </a>
                    </li>
                </ul>
                <h3>Web</h3>
                <ul class="bulletText">
                    <li>
                        Setup and use User Defined Fields UDFs <a href="https://www.youtube.com/watch?v=fqEzgHBGMCc" class="videoPopupLink">
                            Watch in 04:34 min
                        </a>
                    </li>
                    <li>
                        Create a Pull with and without UDFs <a href="https://www.youtube.com/watch?v=mspdzBiV9l8" class="videoPopupLink">
                            Watch in 02:56 min
                        </a>
                    </li>
                    <li>
                        Create a Work Order with and without UDFs <a href="https://www.youtube.com/watch?v=uIigwu6mLmM" class="videoPopupLink">
                            Watch in 03:06 min
                        </a>
                    </li>
                    <li>
                        Create a quick list <a href="https://www.youtube.com/watch?v=8H4YHXrjOU4" class="videoPopupLink">
                            Watch in 02:49 min
                        </a>
                    </li>
                    <li>
                        Create a material staging <a href="https://www.youtube.com/watch?v=QSpzYJInMrI" class="videoPopupLink">
                            Watch in 04:31 min
                        </a>
                    </li>
                    <li>
                        Move material from one bin location to another <a href="https://www.youtube.com/watch?v=9XohKK0MBZQ" class="videoPopupLink">
                            Watch in 03:18 min
                        </a>
                    </li>
                    <li>
                        Create a project spend <a href="https://www.youtube.com/watch?v=TlJyQ-nlMj0" class="videoPopupLink">
                            Watch in 04:18 min
                        </a>
                    </li>
                    <li>
                        Create/process a transfer <a href="https://www.youtube.com/watch?v=J0Fo28S0-eM" class="videoPopupLink">
                            Watch in 05:15 min
                        </a>
                    </li>
                    <li>
                        Create a return order <a href="https://www.youtube.com/watch?v=p-r8uv8RVaY" class="videoPopupLink">
                            Watch in 02:39 min
                        </a>
                    </li>
                    <li>
                        Customize reports <a href="https://www.youtube.com/watch?v=HTbsZ5rXpOg" class="videoPopupLink">
                            Watch in 05:13 min
                        </a>
                    </li>
                    <li>
                        Configure the message in emails <a href="https://www.youtube.com/watch?v=4CdvFQfSB_8" class="videoPopupLink">
                            Watch in 02:18 min
                        </a>
                    </li>
                    <li>
                        Configure the default column sequences <a href="https://www.youtube.com/watch?v=SdOM_wXdmQw" class="videoPopupLink">
                            Watch in 02:18 min
                        </a>
                    </li>
                </ul>
            </div>
            <div class="accTrigger">TrackStock Optimize Plan (Includes all Manage features)</div>
            <div class="accordDetail">
                <h3>Mobile</h3>
                <ul class="bulletText">
                    <li>
                        Create a requisition <a href="https://www.youtube.com/watch?v=yxUZOL0dSSE" class="videoPopupLink">
                            Watch in 03:12 min
                        </a>
                    </li>
                    <li>
                        Check out tools <a href="https://www.youtube.com/watch?v=mSJkdtgQ2jk" class="videoPopupLink">
                            Watch in 02:41 min
                        </a>
                    </li>
                </ul>
                <h3>Web</h3>
                <ul class="bulletText">
                    <li>
                        Create a requisition <a href="https://www.youtube.com/watch?v=qSQMUljzWMg" class="videoPopupLink">
                            Watch in 06:51 min
                        </a>
                    </li>
                    <li>Create a quote</li>
                    <li>
                        Create and check out tools <a href="https://www.youtube.com/watch?v=Uuo1kpHdLis" class="videoPopupLink">
                            Watch in 03:56 min
                        </a>
                    </li>
                    <li>
                        Maintain tools and assets  <a href="https://www.youtube.com/watch?v=2QSbGIEAP5s" class="videoPopupLink">
                            Watch in 08:27 min
                        </a>
                    </li>
                    <li>
                        Create/build/break kits <a href="https://www.youtube.com/watch?v=EjyS8oCsHH8" class="videoPopupLink">
                            Watch in 06:50 min
                        </a>
                    </li>
                    <li>
                        Use the catalog report <a href="https://www.youtube.com/watch?v=K3HD6macZeE" class="videoPopupLink">
                            Watch in 04:04 min
                        </a>
                    </li>
                    <li>
                        Use the Min/Max Tuning Dashboard analytics <a href="https://www.youtube.com/watch?v=mJ45I4a4K5k" class="videoPopupLink">
                            Watch in 13:48 min
                        </a>
                    </li>
                    <li>Set up QuickBooks integration</li>
                    <li>Use an enterprise item quick list </li>
                    <li>
                        Use a common bill of material (BOM) <a href="https://www.youtube.com/watch?v=yLc-cdoajPM" class="videoPopupLink">
                            Watch in 5:47 min
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>
<script src="~/Scripts/magnific.js"></script>
<script type="text/javascript">
    // Video Popup JS
    $(document).ready(function () {

        if ($('.videoPopupLink').length) {
            $('.videoPopupLink').magnificPopup({
                type: 'iframe',
            });
        }
        // accordian regarding
        $('body').addClass('desktop');
        if ($(".accordion").length) {
            $('.accordion .accordDetail').hide();
            $(".accordion .accordDetail:first").show();
            $(".accordion .accTrigger:first").addClass("active");
            $('.accordion .accTrigger').click(function () {
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                    $(this).next().slideUp();
                } else {
                    if ($('body').hasClass('desktop')) {
                        $('.accordion .accTrigger').removeClass('active');
                        $('.accordion .accordDetail').slideUp();
                    }
                    $(this).addClass('active');
                    $(this).next().slideDown();
                }
                return false;
            });
        };
    });
</script>