
@{
    ViewBag.Title = "HelpVideoList";
    bool IsABEnterprise = eTurnsWeb.Helper.SessionHelper.IsABEnterprise;
}
<div class="userListingWrapper">
    <div class="videoSection">

        <div class="helpLeftLinks">
            <ul>
                <li><a href="/HelpDocument/QuickStartGuide" class="active">QuickStart Guide</a></li>
                <li><a href="/HelpDocument/ProductTour">Product Tour</a></li>
                <li><a href="/HelpDocument/HowToVideos">How to Video</a></li>
                <li><a href="/HelpDocument/HelpDocs">Help Documents</a></li>
            </ul>
        </div>

        <h2>
            QuickStart Guide & Videos
        </h2>

        <div class="circlePoints">
            <div class="numberCount">1</div>
            <div class="numberCountTitle">These are the steps that need to happen to get started with TrackStock. First, you need to tell TrackStock what items you want to order/track/auto-replenish/optimize by putting those items in the Item List and printing barcodes for them to attach to your bins or shelves. There are several different ways to do this: </div>
        </div>
        @if (IsABEnterprise)
        {
            <div class="videoCountListing">
                <div class="videoCount">
                    1
                </div>
                <div class="videoDecription">
                    How to bring historical Amazon orders into your TrackStock Item List. <a href="https://www.youtube.com/watch?v=nZ5KT24vN3M" class="videoPopupLink" title="How to add items from your Amazon order history into your TrackStock item list">Watch in 6:12</a>
                </div>
            </div>

            <div class="videoCountListing">
                <div class="videoCount">
                    2
                </div>
                <div class="videoDecription">
                    How to search the Amazon catalog and add items to your TrackStock Item List. <a href="https://www.youtube.com/watch?v=vXMbrYCaq1k" class="videoPopupLink" title="How to search the Amazon catalog and add items to your TrackStock Item List">Watch in 3:12</a>
                </div>
            </div>
            <div class="videoCountListing">
                <div class="videoCount">
                    3
                </div>
                <div class="videoDecription">
                    How to print barcode labels from TrackStock. <a href="https://www.youtube.com/watch?v=OCoatKHReQY" class="videoPopupLink" title="How to print barcode labels from TrackStock">Watch in 2:19</a>
                </div>
            </div>
            <div class="videoCountListing">
                <div class="videoCount">
                    4
                </div>
                <div class="videoDecription">
                    How to add non-Amazon items to your TrackStock Item List in bulk.Complete the<a href="/Content/images/required-and-helpful-item-info-default.xlsx" target="_blank">Item Template</a> with your item info and this <a href="https://docs.google.com/document/d/1MZgSV3QuwvscMlqilmHmHvSD55ryOTju/edit">How to Guide</a> and email it to <a href="mailto:support@eturns.com">support@eturns.com</a>. <a href = "https://www.youtube.com/watch?v=sh1mhaZk_Ow" class="videoPopupLink" title="How to add non-Amazon items to your TrackStock Item List in bulk">Watch in 4:45 (TBD)</a>
                </div>
            </div>
            <div class="videoCountListing">
                <div class="videoCount">
                    5
                </div>
                <div class="videoDecription">
                    How to add non-Amazon items to your TrackStock Item List with manual entry. <a href="https://www.youtube.com/watch?v=Sm5Fju9XEsE" target="_blank"> Watch in 2:54 min</a> (TBD).
                </div>
            </div>
        }
        else
        {
            <div class="videoCountListing">
                <div class="videoCount">
                    1
                </div>
                <div class="videoDecription">
                    How to print barcode labels from TrackStock. <a href="https://www.youtube.com/watch?v=OCoatKHReQY" class="videoPopupLink" title="How to print barcode labels from TrackStock">Watch in 2:19</a>
                </div>
            </div>
            <div class="videoCountListing">
                <div class="videoCount">
                    2
                </div>
                <div class="videoDecription">
                    How to add items to your TrackStock Item List in bulk.Complete the<a href="/Content/images/required-and-helpful-item-info-default.xlsx" target="_blank">Item Template</a> with your item info and this <a href="https://docs.google.com/document/d/1MZgSV3QuwvscMlqilmHmHvSD55ryOTju/edit"> How to Guide</a> and email it to <a href="mailto:support@eturns.com"> support@eturns.com</a>. <a href="https://www.youtube.com/watch?v=sh1mhaZk_Ow" class="videoPopupLink" title="How to add non-Amazon items to your TrackStock Item List in bulk">Watch in 4:45 (TBD)</a>
                </div>
            </div>
            
            <div class="videoCountListing">
                <div class="videoCount">
                    3
                </div>
                <div class="videoDecription">
                    How to add items to your TrackStock Item List with manual entry. <a href = "https://www.youtube.com/watch?v=Sm5Fju9XEsE" target="_blank"> Watch in 2:54 min</a> (TBD).
                </div>
            </div>
        }

        <div class="circlePoints">
            <div class="numberCount">2</div>
            <div class="numberCountTitle">Now that you have items in your Item List, watch these 7 "How To Videos" to learn the essential functions of TrackStock. Find all the How To Videos in the How To Video section of the Help Menu, organized by Plan.</div>
        </div>

        <div class="videoCountListing">
            <div class="videoCount">
                1
            </div>
            <div class="videoDecription">
                How to get the TrackStock mobile app. <a href="https://www.youtube.com/watch?v=rOLpZ2TETVs" class="videoPopupLink" title="How to get the TrackStock mobile app">Watch in 45 sec</a>
            </div>
        </div>
        <div class="videoCountListing">
            <div class="videoCount">
                2
            </div>
            <div class="videoDecription">
                How to log in to TrackStock on the mobile app. <a href="https://www.youtube.com/watch?v=YzQx0NjkVqQ" class="videoPopupLink" title="How to log in to TrackStock on the mobile app">Watch in 59 sec</a>
            </div>
        </div>
        <div class="videoCountListing">
            <div class="videoCount">
                3
            </div>
            <div class="videoDecription">
                How to create an order with the mobile app. <a href="https://www.youtube.com/watch?v=mKbgDygl4_4" class="videoPopupLink" title="How to create an order with the mobile app">Watch in 2:01 min</a>
            </div>
        </div>
        <div class="videoCountListing">
            <div class="videoCount">
                4
            </div>
            <div class="videoDecription">
                How to do cycle counts on the mobile app. <a href="https://www.youtube.com/watch?v=MLVlZcCAa3w" class="videoPopupLink" title="How to do cycle counts on the mobile app">Watch in 2:37 min</a>
            </div>
        </div>
        <div class="videoCountListing">
            <div class="videoCount">
                5
            </div>
            <div class="videoDecription">
                How to track usage with pulls to auto-replenish on the mobile app. <a href="https://www.youtube.com/watch?v=FbMlf7lRycU" class="videoPopupLink" title="How to track usage with pulls to auto-replenish on the mobile app">Watch in 3:04 min</a>
            </div>
        </div>
        <div class="videoCountListing">
            <div class="videoCount">
                6
            </div>
            <div class="videoDecription">
                How to use counts, pulls, and min/max to create suggested orders in the cart. <a href="https://www.youtube.com/watch?v=rWekgt7JtJ8" class="videoPopupLink" title="How to use counts, pulls, and min/max to create suggested orders in the cart">Watch in 2:04 min</a>
            </div>
        </div>
        <div class="videoCountListing">
            <div class="videoCount">
                7
            </div>
            @if (IsABEnterprise)
            {
                <div class="videoDecription">How to get reports like Order History, Orders to Amazon, Inventory, Pull History, etc. <a href = "https://www.youtube.com/watch?v=kbDMGG2BxMc" class="videoPopupLink" title = "How to use counts, pulls, and min/max to create suggested orders in the cart"> Watch in 3:14 min</a></div>
            }
            else
            {
            <div class="videoDecription">
                How to get reports like Order History, Inventory, Pull History, etc. <a href="https://www.youtube.com/watch?v=kbDMGG2BxMc" class="videoPopupLink" title="How to use counts, pulls, and min/max to create suggested orders in the cart">Watch in 3:14 min</a>
            </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/magnific.js"></script>
<script type="text/javascript">
    // Video Popup JS
    $(document).ready(function () {
        if ($('.videoPopupLink').length) {
            $('.videoPopupLink').magnificPopup({
                type: 'iframe',
            });
        }
    });
</script>
