@{
    ViewBag.Title = "Bill of material";
}
@section head{
    @*@if (false)
    {
        <script src="../../Scripts/jquery-1.9.0-vsdoc.js" type="text/javascript"></script>
    }*@
    <script type="text/javascript">
        jQuery(function () {
            $("#btnOpenPopup").click(function () {
                $('#divBOMItems').data("data", '12').dialog('open');
            });

            $("#divBOMItems").dialog({
                autoOpen: false,
                modal: true,
                draggable: true,
                resizable: true,
                width: '82%',
                height: 710,
                title: '@ResCommon.SelectItemFromCatalog',
                open: function () {

                    if ($.trim($("#divBOMItems").html()) == "") {
                        $("#divBOMItems").load('@Url.Action("LoadBOMItems", "BOM")?MatStagID=' + $(this).data("data"), function () {
                            $('#DivLoading').hide();
                        });
                    }
                    else {
                        if ($("#divBOMItems").find("#ItemModel_filter").val() != "") {
                            $("#divBOMItems").find("#clear_QLItemModel_filter").click();
                        }
                    }
                    $('#DivLoading').hide();
                },
                close: function () {

                }
            });

        });
    
    </script>
}
<div class="userListingWrapper">
    <h2>
        Bill of material
    </h2>
    <div class="userListBlock">
        <input type="button" name="btnOpenPopup" id="btnOpenPopup" value="Open" />
    </div>
    <div id="divBOMItems">
    </div>
</div>
