@{
    ViewBag.Title = "GenerateCache";


    eTurnsWeb.Controllers.GenerateCacheController objgcc = new eTurnsWeb.Controllers.GenerateCacheController();

    List<SelectListItem> lstItem = objgcc.GetCompany();
    ViewBag.CompanyList = lstItem;
}
<div class="userListingWrapper">
    <h2>
        Generate Cache</h2>
    <div class="userListBlock">
        <div id="tab7" class="tabContener" style="width: 99%">
            <div class="userContent" style="padding-left: 5px; width: 99%;">
                <div class="userHead" style="margin: 0.5% 0.1% 0;">
                    <div class="editorForm" style="width: 98%">
                        <ul>
                            <li style="float: left;">
                                <div class="editor-label" style="width: 9%; float: left; padding: 0px 0px 5px 0px;">
                                    Company :
                                </div>
                                <div>
                                @Html.CheckBox("SelectAll", false)Select All<br />
                                </div>
                                <div style="width: 250px; float: left; border: 1px solid; height: 450px; overflow: auto;
                                    padding: 0px 0px 0px 0px;resize:both;">
                                    
                                    @foreach (SelectListItem item in ViewBag.CompanyList)
                                    {
                                        @Html.CheckBox("CompanyName", false, new { value = item.Value, @class = "target" })@item.Text<br />
                                    }
                                </div>
                                <div style="float: left; padding: 0px 0px 0px 10px;">
                                    <input type="button" value="Generate Cache" id="btnGenerateCache" class="CreateBtn"
                                        name="btnSave" />
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">
    AllowDeletePopup = false;
    $("#SelectAll").click(function () {
        if ($(this).is(':checked')) {
            $.each($(".target"), function () {
                $(this).prop('checked', true);
            });
        }
        else {
            $.each($(".target"), function () {
                $(this).prop('checked', false);
            });
        }

    });
$("#btnGenerateCache").live("click", function () {
    var selectedValues = "";
    var myArray = new Array();
    var i = 0;
    $.each($(".target"), function () {
        if ($(this).is(':checked')) {
            myArray[i] = $(this).val();
            i++;
        }
    });

    if (myArray.length != 0) {
        $.ajax({ url: '@Url.Content("~/GenerateCache/ReGenerateCache")'
                    , type: 'POST'
                    , data: { 'para': JSON.stringify(myArray) }
                    , cache: false
                    , success: function (response) {
                        $('div#target').fadeToggle();
                        $("div#target").delay(DelayTime).fadeOut(FadeOutTime);
                        $("#spanGlobalMessage").html(response.Message);
                        $("#spanGlobalMessage").removeClass('errorIcon WarningIcon').addClass('succesIcon');
                        alert(response.Message);
                    }
                    , error: function (message) {
                        $("#spanGlobalMessage").html(message.statusText);
                        $('div#target').fadeToggle();
                        $("div#target").delay(DelayTime).fadeOut(FadeOutTime);
                    }
        });
    } else {
        alert("Please select company.");
    }
});
</script>
