

/*******************************************************************************
  PORTLETS AND GRID
*******************************************************************************/
#portlets
{
    padding: 0px 10px;
}
/*.column { width: 450px; float: left; padding-bottom: 0px; }*/
.column
{
    width: 48.7%;
    float: left;
    padding-bottom: 0px;
}
.columnfull
{
    width: 100%;
    float: left;
    padding-bottom: 0px;
}
.column#left
{
    margin-right: 30px;
}
.portlet
{
    margin: 0 0em 1em 0;
}
.portlet-header
{
    margin: 0em;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-top: 4px;
    padding-right: 6px;
    font-size: 12px;
    border: none !important;
    color: #333 !important;
    font-family: "Calibri", Arial, Helvetica, sans-serif;
    cursor: move;
    position: relative;
}
.portlet-header .ui-icon
{
    float: right;
    cursor: pointer;
}
.portlet-header img
{
    float: left;
    margin-right: 5px;
}
#portlets .fixed
{
    cursor: auto;
}
.portlet-content
{
    padding: 0.8em;
    font-size: 12px !important;
    color: #333;
    border-top: 1px solid #999 !important;
    font-family: "Calibri", Arial, Helvetica, sans-serif;
}
.ui-sortable-placeholder
{
    border: 1px dashed #999 !important;
    visibility: visible !important;
    height: 100px !important; /*background: #EBEBEB;*/
    background: white !important;
}
.ui-sortable-placeholder *
{
    visibility: hidden;
}

/*******************************************************************************
  MODAL BOX OVERRIDE
*******************************************************************************/
.ui-dialog
{
    padding: 0px !important;
    border: none 0 !important;
    font-size: 12px !important;
    font-family: "Calibri", Arial, Helvetica, sans-serif !important;
}
.ui-dialog .ui-dialog-titlebar
{
    padding: 3px 5px;
    position: relative;
    border-bottom: none;
    font-size: 13px !important;
}
.ui-dialog .ui-corner-all
{
    -moz-border-radius-bottomleft: 0px !important;
    -moz-border-radius-bottomright: 0px !important;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
}
.ui-dialog .ui-dialog-content
{
    border: 1px solid #AAAAAA !important;
}
.ui-widget-overlay
{
    /*background: #000 !important;*/
    background: red !important;
    opacity: 0.7 !important;
}
.imgclass
{
    float: left;
    padding: 0px 13px 10px 13px;
    text-align:center;
    width:15.4%;
}
.imgclass a
{
    text-decoration:none;
    }
    .imgclass img
{
    border:0px;
    text-decoration:none;
    }
    
.imgclassNew
{
    float: left;
    padding: 0px 13px 10px 13px;
    text-align:center;
    width:15.4%;
}
.imgclassNew a
{
    text-decoration:none;
    }
    .imgclassNew img
{
    border:0px;
    text-decoration:none;
    }
    

 .sortHelper
{
    background: white;
    border: 2px dashed #666;
    width: auto !important;
}
.forcolor
{
    color: White;
    font-family:Verdana,Arial,sans-serif/*{ffDefault}*/;
}

.imgclass span{ background:url(../images/num-selected.png) no-repeat; color: #FFFFFF;   float: right; font-size: 15px; font-weight: bold; height: 29px;  margin: -6px  0 0 -10px;  padding: 5px 0; text-align: center; width: 29px; position:absolute;}