
.dataTables_scrollBody {
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: 3000px !important;
    overflow: scroll !important;
}

.Lnavd {
    float: left;
    padding-left: 1px;
}

    .Lnavd li {
        float: left;
        padding: 2px 4px 1px 0;
        position: relative;
        list-style: none;
    }

        .Lnavd li.clear {
            width: 100%;
            height: 1px;
            float: left;
            margin: 0;
            padding: 0;
        }

.lia {
    background: none repeat scroll 0 0 #F3F9FF;
    border: 1px solid #C7E3FF;
    border-radius: 5px 5px 5px 5px;
    color: #1971BD;
    float: left;
    font-size: 12px;
    padding: 1px 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none; /* width: 50px;*/
}

.liahover {
    background: no-repeat scroll 90px center #0095c8;
    border: 1px solid #0095c8;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF !important;
    cursor: auto;
    text-decoration: none;
}
/*  .Lnavd li a
    {
        background: none repeat scroll 0 0 #F3F9FF;
        border: 1px solid #C7E3FF;
        border-radius: 5px 5px 5px 5px;
        color: #1971BD;
        float: left;
        font-size: 12px;
        padding: 1px 5px;
        text-align: center;
        text-decoration: none;
    }*/
.Lnavd li a:hover {
    text-decoration: none;
}

.imgclassd span {
    background: url("../../content/images/num-selected.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: right;
    font-size: 12px;
    font-weight: bold;
    height: 18px;
    margin: -12px 0 0 -6px;
    padding: 6px 0;
    text-align: center;
    width: 29px;
}

.gridchartclass {
    float: right;
    margin-right: 0;
    margin-top: -25px;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0;
    width: auto;
}

