<form id="myForm" >
    @Html.AntiForgeryToken()
    <div id="AddUserForm">
        <b>Note: Please enter multiple Email address in 'Send To' with ","(comma) seperate.</b>
        <br/>
        <span style="float: left; width: 20%;">Send To:</span>
        <input style="float: left; width: 79%;" type="text" id="sendTo" name="sendTo" />
        
        <br/>
        <span style="float: left; width: 20%;">Subject:</span>
        <input type="text" style="float:left;width:79%;" id="subject" name="subject" />
        <br />
        <br />
        <span style="float: left; width: 20%;">Body:</span>
        <textarea id="body" name="body" style="float: left; width: 79%;height:300px;" />
        <input id="attchfilepath" name="attchfilepath" type="hidden" />
    </div>
</form>
