@model ReportPerameters
@{
    string ModuleName = Convert.ToString(Model.ModuleName);

}@if (!string.IsNullOrWhiteSpace(ModuleName) && ModuleName != "ToolInStock")
{
    @*<li>
        <div class="editor-label">
            &nbsp;
        </div>
    </li>*@
    <li>
        <div class="editor-label">
            &nbsp;
        </div>
        @*<div class="editor-field" id="dvstatusparam">*@
        <div id="dvstatusparam">
        </div>
    </li>

    <script type="text/javascript">
        function FillStatusparam() {
            $('#dvstatusparam').html('');
            var strModuleName = $('#ModuleName').val();
            if (strModuleName.toLowerCase() != 'supplier') {
                if (strModuleName.toLowerCase().indexOf("company") < 0) {
                    $.ajax({
                        url: '@Url.Action("ViewStatusPerameters", "ReportBuilder")',
                        type: 'GET',
                        //data: { 'ReportModuleName': 'WorkOrder' },
                        data: { 'ReportModuleName': strModuleName },
                        dataType: 'text',
                        contentType: 'application/json',
                        async: false,
                        success: function (data) {

                            $('#dvstatusparam').html(data);

                        },
                        error: function (data) {

                        }
                    });
                }
            }
        }
        $(document).ready(function () {
            FillStatusparam();

        });

    </script>

   
}