@model ReportPerameters
@{
    string ModuleName = Convert.ToString(Model.ModuleName);

}
@if (!string.IsNullOrWhiteSpace(ModuleName) && ModuleName != "Receive" && ModuleName != "Supplier" && ModuleName != "ToolInStock")
{
    @*<li>
        <div class="editor-label">
            &nbsp;
        </div>
    </li>*@
    <li>
        <div class="editor-label">
            &nbsp;
        </div>
        @*<div class="editor-field" id="dvModuleItemTypes">*@
        <div id="dvModuleItemTypes">
        </div>
    </li>
    <script type="text/javascript">
        function FillTypesparam() {
            $('#dvModuleItemTypes').html('');
            var strModuleName = $('#ModuleName').val();
            
            if ( strModuleName.toLowerCase().indexOf("company") < 0) {
                $.ajax({
                    url: '@Url.Action("ViewTypesPerameters", "ReportBuilder")',
                    type: 'GET',
                    //data: { 'ReportModuleName': 'WorkOrder' },
                    data: { 'ReportModuleName': strModuleName },
                    dataType: 'text',
                    contentType: 'application/json',
                    async: false,
                    success: function (data) {

                        $('#dvModuleItemTypes').html(data);

                    },
                    error: function (data) {

                    }
                });
            }
        }
        $(document).ready(function () {
            FillTypesparam();

        });

    </script>
}