@{
    ViewBag.Title = "Change Password";
}
<link rel="stylesheet" type="text/css" href="../../Content/tabstyle.css" />
@section head{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnsave").click(function () {
                var oldpassword = $("#txtoldpassword").val();
                var newpassword = $("#txnewpassword").val();
                if (validateData()) {
                    $.ajax({
                        type: "POST",
                        url: "/Master/SaveChangePassword",
                        data: "{'oldpassword':'" + oldpassword + "','newpassword':'" + newpassword + "'}",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (message) {

                            if (message.Message == "ok") {

                                window.location = '/Master/Dashboard2';
                            }
                            else if (message.Message == "wrngpsw") {
                            alert("Old password is invalid.")
                            }


                        },
                        error: function (response) {

                        }
                    });
                }


                //var IsLicenceAccepted = false;
                //if ($("#chkTermcondition").attr('checked') == "checked")
                //    IsLicenceAccepted = true;
                //if (IsLicenceAccepted == true) {

                //}
                //else {
                //    alert("Please Select Terms and Condition");
                //}
            });
            function validateData() {

                var oldpassword = $("#txtoldpassword").val();
                var newpassword = $("#txnewpassword").val();
                var confirmpassword = $("#txtconfirmpassword").val();
                if (oldpassword == "") {
                    alert("Please enter old password.");
                    return false;
                }
                else if (newpassword == "") {
                    alert("Please enter new password.");
                    return false;
                }
                else if (confirmpassword == "") {
                    alert("Please enter confirm password.");
                    return false;
                }
                else if (newpassword != confirmpassword) {
                    alert("New password and confirm password not match.");
                    return false;
                }
                return true;
            }
        });

    </script>
}

<div class="userListingWrapper">
    <h2 style="padding:0px;">
        Change Password
    </h2>

    <div class="userListBlock">
        <div id="Ctab" class="tabContener" style="width: 99%; text-align:justify;">

            <div style="float:left; width:50%; margin:10px;" class="editor-field">
                <label>Old Password</label>
                <input class="text-box" type="password" id="txtoldpassword" name="txtoldpassword" />
            </div>
            <div style="float: left; width: 50%; margin: 10px;" class="editor-field">
                <label>New Password</label>
                <input class="text-box" type="password" id="txnewpassword" name="txnewpassword" />
            </div>
            <div style="float: left; width: 50%; margin: 10px;" class=" editor-field">
                <label>Confirm Password</label>
                <input class="text-box" type="password" id="txtconfirmpassword" name="txtconfirmpassword" />
            </div>
            <div style="float:left; width:98%; margin:10px;">
                <input type="button" value="Save" id="btnsave" class="btnGeneral" name="btnsave" />
            </div>

        </div>
    </div>
</div>


