@{    
    Layout = "~/Views/Shared/_PopupMaster.cshtml";          
}
<script language="javascript" type="text/javascript">
    var oHistoryTable;
    var PageName = GetpageName(location.href);

    $(document).ready(function () {
        oHistoryTable = $('#HistoryTable').dataTable({
            "bProcessing": true,
            "bServerSide": true,
            "aaSorting": [],
            "aoColumns": [
            /* Date */null,
            /* Site */null,
            /* Len  */null,
            /* Amt  */null,
            /* Paid */null
            ],
            "sAjaxSource": '@Url.Content("~/Master/GetHistoryData")',
            "sAjaxDataProp": "aaData",
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                aoData.push({ "name": "PageType", "value": PageName });
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
					"headers": { "__RequestVerificationToken": $("input[name='__RequestVerificationToken'][type='hidden']").val() },
                    "success": fnCallback
                })
            }
        });
    });

    function GetpageName(QueryString) {
        if (QueryString.indexOf("TechnicianList") != -1)
            return 'TechnicianList';
        else if (QueryString.indexOf("bin") != -1)
            return 'bin';
        else
            return '';
    }        
</script>
<table id="HistoryTable" class="display">
</table>
