@{
    ViewBag.Title = "Licencing Terms and Conditions";
}
@if (SiteSettingHelper.IsBorderStateURL == "1" && SiteSettingHelper.EnableOktaLoginForSpecialUrls.Contains(eTurnsWeb.Helper.SessionHelper.CurrentDomainURL)){<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/tabstyleBS.css")" />}else{ <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/tabstyle.css")" />}
@section head{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnsave").click(function () {

                var IsLicenceAccepted = false;
                if ($("#chkTermcondition").attr('checked') == "checked")
                    IsLicenceAccepted = true;
                if (IsLicenceAccepted == true) {
                    $.ajax({
                        type: "POST",
                        url: "/Master/SaveTermcondition",
                        data: "{'IsLicenceAccepted':" + IsLicenceAccepted + "}",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (message) {

                            if (message.Message == "Ok")
                                window.location = '/Master/ChangePassword';

                        },
                        error: function (response) {

                        }
                    });
                }
                else {
                    alert("Please Select Terms and Condition");
                }
            });
            $("#btnPrint").click(function () {

                var htmltext = $('#dvTermcondition').html();

                $.ajax({
                    type: "POST",
                    url: "/Master/CreateTermsAndConditionPDF",
                    data: "{'TermsAndConditionText':'" + htmltext + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (message) {


                        window.open("../../Downloads/" + message.Message, "_blank");

                    },
                    error: function (response) {

                    }
                });


            });
        });

    </script>
}
<div class="userListingWrapper">
    <h2 style="padding: 0px;">
        sapphire terms and conditions
    </h2>
    <div class="userListBlock">
        <div id="Ctab" class="tabContener" style="width: 99%; text-align: justify;">
            <div style="float: left; width: 98%; margin: 10px;">
                <div style="float: right;">
                    <input type="button" value="Print" id="btnPrint" class="btnGeneral" name="btnPrint" />
                </div>
            </div>
            <div id="dvTermcondition" style="float: left; width: 98%; height: 275px; overflow-y: scroll;
                margin: 10px;">
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                    eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                    montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                    pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
                    vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                    venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                    Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean
                    leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                    dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius
                    laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                    ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                    eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque
                    sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas
                    nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                    Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
                    fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo
                    eget bibendum sodales, augue velit cursus nunc,</p>
                <br />
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                    eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                    montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                    pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
                    vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                    venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                    Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean
                    leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                    dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius
                    laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                    ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                    eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque
                    sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas
                    nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                    Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
                    fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo
                    eget bibendum sodales, augue velit cursus nunc,</p>
                <br />
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                    eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                    montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                    pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
                    vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                    venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                    Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean
                    leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                    dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius
                    laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                    ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                    eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque
                    sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas
                    nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                    Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
                    fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo
                    eget bibendum sodales, augue velit cursus nunc,</p>
                <br />
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                    eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                    montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                    pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
                    vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                    venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                    Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean
                    leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                    dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius
                    laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                    ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                    eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque
                    sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas
                    nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                    Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
                    fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo
                    eget bibendum sodales, augue velit cursus nunc,</p>
                <br />
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                    eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                    montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                    pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
                    vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                    venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                    Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean
                    leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                    dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius
                    laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                    ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                    eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque
                    sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas
                    nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                    Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
                    fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo
                    eget bibendum sodales, augue velit cursus nunc,</p>
                <br />
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                    eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                    montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                    pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
                    vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                    venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                    Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean
                    leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                    dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius
                    laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                    ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                    eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque
                    sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas
                    nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                    Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
                    fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo
                    eget bibendum sodales, augue velit cursus nunc,</p>
                <br />
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                    eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                    montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                    pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
                    vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                    venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                    Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean
                    leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                    dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius
                    laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                    ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                    eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque
                    sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas
                    nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                    Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
                    fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo
                    eget bibendum sodales, augue velit cursus nunc,</p>
                <br />
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                    eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                    montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                    pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
                    vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                    venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                    Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean
                    leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                    dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius
                    laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                    ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                    eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque
                    sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas
                    nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                    Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
                    fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo
                    eget bibendum sodales, augue velit cursus nunc,</p>
                <br />
            </div>
            <div style="float: left; width: 98%; margin: 10px;display:none;">
                <div style="float: right;">
                    <input type="checkbox" id="chkTermcondition" name="chkTermcondition" value="" /><label
                        for="chkTermcondition">Licence Terms and Conditions</label>
                    <input type="button" value="Accept" id="btnsave" class="btnGeneral" name="btnsave" />
                </div>
            </div>
        </div>
    </div>
</div>
