@model eTurns.DTO.UserListEnableNLF
@{
    List<UserMasterDTO> lstAllUsers = (List<UserMasterDTO>)ViewBag.AllUsers;
}
<div class="userHead">
    <div class="mainForm">
        @using (Ajax.BeginForm("UpdateUserForNLF", "Master", new AjaxOptions { HttpMethod = "Post", LoadingElementId = "DivLoading",OnSuccess = "onSuccess", InsertionMode = InsertionMode.Replace, OnFailure = "onFailure" }, new { @id = "frmUserAllowNLF", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            <div class="editorForm">
                <h4>
                    Allow Users To Access NLF
                </h4>
                <ul>
                    <li class="alignLeft">
                        <span>
                            <img alt="username" class="icon" src="@Url.Content("~/Content/OpenAccess/username-icon.png")" />
                        </span>
                    </li>
                    <li>
                        @Html.ListBoxFor(t => t.SelectedIds , new SelectList(ViewBag.AllUsers, "ID", "UserName"), new { @class = "UserOptionsBox", @id = "drpUserType" })
                    </li>
                </ul>
                <ul>
                    <li class="alignLeft">
                        <input type="submit" class="btnGeneral" value="Allow" id="btnAllow" />
                    </li>
                </ul>
            </div>
        }
    </div>
</div>

<style>
    .UserOptionsBox {
        height: 300px;
        width: 300px;
    }
</style>
<script type="text/javascript">
    function onSuccess(response) {
        $('#DivLoading').hide();
        showNotificationDialog();
        if (response.Status == "Success") {
            $("#spanGlobalMessage").html(response.Message);
            $("#spanGlobalMessage").removeClass('errorIcon WarningIcon').addClass('succesIcon');
        } else {
            $("#spanGlobalMessage").html(response.Message);
            $("#spanGlobalMessage").removeClass('succesIcon WarningIcon').addClass('errorIcon');
        }
    }
    function onFailure(response) {
        $('#DivLoading').hide();
        $("#spanGlobalMessage").html("Failure");
        $("#spanGlobalMessage").removeClass('succesIcon WarningIcon').addClass('errorIcon');
    }
</script>