@{
    ViewBag.Title = "IframeTest";
}
<h2>
    IframeTest</h2>
<iframe frameborder="1" height="400" id="ifrmTest" src="http://localhost:53151/Home/IframeTestChildPage">
</iframe>
<input type="button" id="btnHi" name="btnHi" value="get data" />
<script src="../../Scripts/jquery.ba-postmessage.js" type="text/javascript"></script>
<script type="text/javascript">
    $.receiveMessage(function (e) { alert(e.data); }, 'http://localhost:53151');
    //    function listener(event) {
    //        alert(event.data);
    //    }

    //    if (window.addEventListener) {
    //        addEventListener("message", listener, false)
    //    } else {
    //        attachEvent("onmessage", listener)
    //    }

</script>
