@model eTurns.DTO.SiteListMasterDTO
@{
    ViewBag.Title = "ListPageSetting";
}

<h2>ListPageSetting</h2>
<div class="userHead">
    <div class="editorForm" style="float: none; padding-left: 40%;">
        <span>Module List:</span>
        @Html.DropDownListFor(model => model.ID, new SelectList((IEnumerable<eTurns.DTO.SiteListMasterDTO>)ViewBag.ListPageName, "ID", "ListName", ViewBag.Li), string.Empty, new { @class = "selectBox", @ID = "PageNameList" })
        Page Size:
        <select id="PageSize" class="selectBox">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
        </select>
    </div>
    <br />
    <div id="columns" class="listing">
        <div style="width:100%;padding-left:35%;">
            <span style="float:left;margin-right:7px;" class="DataTables_sort_wrapper">Sorting On :</span>
            <select style="float:left;" class="selectBox" id="ColumNameList"></select>
            <span style="float: left; margin-right: 7px;margin-left:7px;">
                Sorting Type:
            </span><select id="OrderBy" style="float:left;" class="selectBox">
                <option value="asc">Asc</option>
                <option value="desc">Desc</option>
            </select>
        </div>
        <br />
        <div style="clear: both; ">
            <div style="padding-left: 30%;float:left;width:100%;">
                <span style="float:left;">Columns list:</span>
                <ul id="ColumnSortable" style="width: 25%; float: left;"></ul>
                <br />
            </div>
            <input type="button" id="btnSave" value="Save Setting" style="clear: both; margin-left: 35%;" />
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        var currentPageListId = $("select#PageNameList").val();
        if (currentPageListId > 0) {
            $.ajax({
                url: '@Url.Content("~/Master/BindColumns")',
                data: { currentPageListId: currentPageListId, "FromeTurns": false },
                dataType: 'json',
                type: 'POST',
                async: false,
                cache: false,
                success: function (response) {
                    bindColums(response.objSiteListColumnDetailDTO);

                    $("select#ColumNameList").val(response.ColumnName.trim());
                    $("select#OrderBy").val(response.SortType);
                    $("select#PageSize").val(response.Pagesize);
                    var result = response;
                    $('#ColumnSortable').sortable({

                    });
                }
            });
        }
        else {
            $('#ColumnSortable').html("");
            $('#ColumNameList').html("");
        }
    });

    $("select#PageNameList").change(function () {
        var currentPageListId = $(this).val();
        if (currentPageListId > 0) {
            $("div.listing").show();
        }
        else {
            $("div.listing").hide();
        }
        $('#ColumnSortable li').each(function (index) {
            $(this).remove();
        });
        if (currentPageListId > 0) {
            $.ajax({
                url: '@Url.Content("~/Master/BindColumns")',
                data: { currentPageListId: currentPageListId, "FromeTurns": false },
                dataType: 'json',
                type: 'POST',
                async: false,
                cache: false,
                success: function (response) {
                    bindColums(response.objSiteListColumnDetailDTO);

                    $("select#ColumNameList").val(response.ColumnName.trim());
                    $("select#OrderBy").val(response.SortType);
                    $("select#PageSize").val(response.Pagesize);
                    var result = response;
                    $('#ColumnSortable').sortable({

                    });
                }
            });
        }
        else
        {
            $('#ColumnSortable').html("");
            $('#ColumNameList').html("");
        }
    });
    function sort(result) {
        var sortableList = $('#ColumnSortable');
        var listitems = $('li', sortableList);

        var i = -1;
        listitems.sort(function (a, b) {
            return ($(a).text().toUpperCase() > $(b).text().toUpperCase()) ? 1 : -1;
        });
        sortableList.append(listitems);

    }
    $("input#btnSave").click(function () {

        var sortelist = '';
        var visible = '';
        var colsizelist = '';
        $('#ColumnSortable li').each(function () {
            if ($(this).children("input[type=checkbox]").is(":checked")) {
                if (visible != '') {
                    visible = visible + ',true';
                }
                else {
                    visible = 'true';
                }
            }
            else {
                if (visible != '') {
                    visible = visible + ',false';
                }
                else {
                    visible = 'false';
                }
            }
            if (sortelist != '') {
                sortelist = sortelist + ',' + $(this).children("input#OrderNumber").val();
            }
            else {
                sortelist = $(this).children("input#OrderNumber").val();
            }
            if (colsizelist != '') {
                colsizelist = colsizelist + ',' + $(this).children("input#txtSize").val();
            }
            else {
                colsizelist = $(this).children("input#txtSize").val();
            }
            
            
        });

        var pageSize = $("select#PageSize").val();
        var currentPageListId = $("select#PageNameList").val();

        var SortColumn = $("select#ColumNameList").val();
        var SortColumnIndex = $("ul#ColumnSortable").find("label:contains('" + SortColumn + "')").next("input[type=hidden]").val();
        
        var Sorttype = $("select#OrderBy").val();
        $.ajax({
            url: '@Url.Content("~/Master/SaveJsonData")',
            data: { sortelist: sortelist, visible: visible, pageSize: pageSize, currentPageListId: currentPageListId, SortColumn: SortColumn, Sorttype: Sorttype, colsizelist: colsizelist, "FromeTurns": false, SortColumnIndex: SortColumnIndex },
            dataType: 'json',
            type: 'POST',
            async: false,
            cache: false,
            success: function (response) {
                alert("Record Saved Successfully...!!!!");
            },
            complete: function () {
                alert("Record Saved Successfully...!!!!");
            }
        });
    });
    function bindColums(response) {
        $('#ColumnSortable').html("");
        $('#ColumNameList').html("");

        for (var i = 0; i < response.length; i++) {

            $("#ColumNameList").append("<option value='" + response[i].ActualColumnName.trim() + "'>" + response[i].ColumnName.trim() + "</option>");
            if (response[i].Visibility) {
                $('#ColumnSortable').append('<li><input type="checkbox"  class="checkBox" checked="checked" id="' + response[i].ID + '" /><label for="' + response[i].ID + '">' + response[i].ColumnName.trim() + '</label><input type="hidden" id="OrderNumber"  value="' + response[i].OrderNumber + '" /><input type="hidden" id="LastOrder" value="' + response[i].LastOrder + '" /><label style="float:right">px</label><input type="textbox" id="txtSize" style="width:45px;float:right;" maxlength="3" value="' + response[i].ColumnSize + '" /></li>');
                $('#ColumNameList option').each(function () {
                    if ($(this).val() == response[i].ColumnName.trim()) {
                        $(this).show();
                    }
                });
            }
            else {
                $('#ColumnSortable').append('<li><input type="checkbox" class="checkBox" id="' + response[i].ID + '" /><label for="' + response[i].ID + '">' + response[i].ColumnName.trim() + '</label><input type="hidden" id="OrderNumber"  value="' + response[i].OrderNumber + '" /><input type="hidden" id="LastOrder"  value="' + response[i].LastOrder + '" /><label style="float:right">px</label><input type="textbox" id="txtSize" style="width:45px;float:right;" maxlength="3" value="' + response[i].ColumnSize + '" /></li>');
                $('#ColumNameList option').each(function () {
                    if ($(this).val() == response[i].ColumnName.trim()) {
                        $(this).hide();
                    }
                });
            }

        }
        $('#ColumnSortable li input[type=checkbox]').click(function () {
            
            var column = $(this).parents("li").find("label:first").text();
            if ($(this).is(":checked")) {
                $('#ColumNameList option').each(function () {
                    if ($(this).val() == column) {
                        $(this).show();
                    }
                });
            }
            else {
                $('#ColumNameList option').each(function () {
                    if ($(this).val() == column) {
                        $(this).hide();
                    }
                });
            }
            if ($('#ColumNameList').val() == column) {
                var val = $('#ColumNameList option:first').attr("value");
                $('#ColumNameList').prop('selectedIndex', 0);
                $('#ColumNameList').val(val);
            }
        });
    }
</script>