@{
    ViewBag.Title = "Report Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool chkLoginWithSelection = ViewBag.chkLoginWithSelection;
    bool chkUseAWSCaching = ViewBag.UseAWSCaching;
}
<div class="userListingWrapper">
    <h2>
        Site Setting
    </h2>
    <div class="userListBlock">
        <div id="Ctab" class="tabContener" style="display: block; width: 100%;">
            <div class="editorForm">
                <ul>
                    <li>
                        <div class="editor-label">
                            <input type="checkbox" id="chkOverwrite" />
                            <label>
                                Login With DropDown</label>
                        </div>
                        <div class="editor-label">
                            <input type="checkbox" id="chkUseAWSCaching" />
                            <label>
                                Use AWS Caching
                            </label>
                        </div>
                        
                    </li>
                    <li>
                        <div class="editor-label">
                            <input type="button" style="float: left;" value="Update" class="CreateBtn" id="btnupdate" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        if ('@chkLoginWithSelection' == '@Boolean.TrueString') {
            $("#chkOverwrite").attr("checked", "checked");
        }
        else {
            $("#chkOverwrite").prop("checked", false);
        }
        if ('@chkUseAWSCaching' == '@Boolean.TrueString') {
            $("#chkUseAWSCaching").attr("checked", "checked");
        }
        else {
            $("#chkUseAWSCaching").prop("checked", false);
        }
        $('#btnupdate').click(function (e) {
            var OverwirteExisting = $('#chkOverwrite').is(':checked');
            var UseAWSCaching = $('#chkUseAWSCaching').is(':checked');

            $.ajax({
                url: '@Url.Content("~/Master/UpdateSettings")',
                data: JSON.stringify({ 'OverwriteExisting': OverwirteExisting, 'UseAWSCaching': UseAWSCaching }),
                dataType: 'json',
                contentType: 'application/json',
                type: 'POST',
                async: false,
                cache: false,
                success: function (result) {

                    alert(result.Message);
                    if (result.Status == 'norights') {
                        window.location.href = '../../Master/roomlist';
                    }
                }
            });
        });
    });
</script>
